language: ruby
cache: bundler
rvm:
- 2.3.3
before_script:
- chmod +x ./script/cibuild
script: ./script/cibuild
branches:
  only:
  - master
sudo: false
deploy:
  provider: s3
  access_key_id:
    secure: obmIm6pUTccxYBZ+oVmvQ1o9i+5o/kB0ogcSUaJk57pud+hqaDScghwGLEJETo8DGgYORRbLxMX5S5qk16HkcBam4zXv8l4uXW9aS90w6/IJrdDZM0tNpBM3egsI0gPALd37gte26ZAIsZQIhid55026ETaRNEu080RUpfoUoJcDLKS1IKqY6QIlNhMdD28IWzkZS7ps7liA8Dbm3NNgqPLTqvxXKwy3g+TCVqeEbDozJ/Y3S5uH9skt7n0GfdRtfhf9FMjE588xT8cTxiG9uVm5ruNUruILDhjVdvlGOercMeqETV4X7V94lC87ltNblujVVzy7wridtvdoPbb6sw5f9tEsdv0lF2tXAyKrVAAhIDK15fXVKKW/ljshhxyfGN2xGvBb12Rsl7KOeFq5keutLUw7y6W9bim0OjiDb5WW2KKevUawtLgpl+ou1oTntEYEH98aD6X/KBNTXywSWmJbe46vLMU7suu0YPvEum4i2URQr7sHGVyjtXz0dpaQL/KPNtD9wTIUrCMM/K0ugc3WdxQ6/BRujeV19Mbr4z13SgcekgZ8Uq5tJYfwreHmHsQLi+E5YbAm1Qqszwc8SMMJV1bbnNfSM9Gu6rP5DewU6A2XLLAiaT8Edbkf5GpXHFoSkSqR1hEaNeRDo+iMKWk+mLfy9eeBZoaKABIBr9A=
  secret_access_key:
    secure: uDEDck8YRB2lrrpdkZ+fhkj+6d6UoWKB3pr+XDIZtiMRe9U7BOxzeyrJBcPN8WSr5kztPh0wF/+zdL9NugLzCaTha2F4/BEYlvPxhszLzqhpqRmR2qAh/bo3F8eJtKyqchAOmzlKcfvBPUMQ6xWGdGRct1GJYoneXD8nQ6prYtDBcU0ztEBRDK/gscSx8/HQ3c4+Deur7Th9xB1UwoiV46G+rytzALORpbhagfTjZ3ssKiWJwKwXdg/yBPS+IKYZGkKact027NdgZoyxPXQptqXSLVBt0YYMEfWF3UVCrsdwkmkPVr0UXXaliUMJKl88/DKNqkJ9pQyaFOaRXrNiFMtbyBpFS70OLm+oRHppMCrW8xSoboSIHPlGbOyWrWYoHaUpJ9E4m+5vYS3KflkNFKSu4viSXxS3Fo30yoFXPP3Fw2TIvEQ196l72/fNYMtyAtRx3P3PoYtPF1HrkwlnS15iFu9vEqq6j/Q6I5Fe3pARCkt3iAyZAdzWyBJ9TYUmJTi5RSyZi5IVbEVsvsb7ytrN+R6yMPOaHDBCM0xeuqZdyhnl7vMDS1HmgJvHMqNwTgkgFamMIlL5wg/xmSjtQX/bDEM7BCSjgKRBFXqZdezPpLMJ8HgkIQDUkqXaJmNPMcFNlyATSEif2mPVtGaZF5fAKPJE0Pz3LT0A0mMCiG0=
  bucket: whatthefuckjusthappenedtoday.com
  local_dir: _site
  skip_cleanup: true
  on:
    repo: mkiser/WTFJHT
after_success: 'curl -X DELETE "https://api.cloudflare.com/client/v4/zones/2fa02b93146397fbf2001d812ab8b31f/purge_cache"
  -H "X-Auth-Email: "$CLOUD_FLARE_EMAIL"" -H "X-Auth-Key: "$CLOUD_FLARE_API_KEY""
  -H "Content-Type: application/json" --data "{\"purge_everything\":true}"'
notifications:
  slack:
    rooms:
      secure: XjANFsEEuQdsZRHM2Xwr6zWJJdyKNuxDEPR5I5lsHo/nJ+c9Yni2kx0LUAH8vmgwCv5dWRk2jOWqDTsMxVIeLl520G6KUpnhnSlfHLAiqoLn4fRS7/BMmokD0UIDcEnE5XSZS7sfk6lUVPbzvOKvY8M3sWcGaW+JBamHEqOA0jAjrHMnf3K3ydKAD0aCK48FP6G0u7le/rriWyGXB9PWtbPUdyXhNjdmBPXeXxjcefig2n+7Q14n8b7rtKWemmBVodgts8xBVFC4gR1xihTA/ZI609YmE3VUDYv/bot7MoCDtAqM66qq7RtccOVFpZGPT5xKb9PX8eMGmCauj37e8VFUO8U+KrsUuhBpNjzowHw400j+amtybUoFAQiRQ0DSDdtp8RQh/ZU9YNTddY4JJl5ebUiSgfhb9NHkhmngN6e7guIjpe9vs+VmGuJwvp6bMR3HUoGv9aYZ6Rpl7VIxs7HpykcRPlalC0FXtVzL9Y49ZnWXyJT9A2e6IV/thSOU46vHXzylRWe9A0g6f2XW0gvccrIj3P6UH+sZaVb28eotoZhLwOsbPFcIceYVjAzeA1J/P3WL9z0CBdyvLfVrKkLqub3jE/OrXljUOMM/WFpqFr8bcPu02WZ20V7E+AbKbj/0CiyzFJ3DX7QowPQg7P8X6Y9pXOJ0bnr/ndRfj0A=
