sudo: false
dist: trusty
language: ruby
cache: bundler
rvm:
- 2.4.1
addons:
  apt:
    update: true
    sources:
    - kalakris-cmake
    packages:
    - cmake
before_install:
- rm Gemfile.lock
- gem install bundler
before_script:
- chmod +x ./script/*
script: 
- if [ $TRAVIS_EVENT_TYPE = cron ]; then echo -e "# cibuildindex via cron" ; fi
- if [ $TRAVIS_EVENT_TYPE = cron ]; then travis_wait 35 ./script/cibuildindex; fi
- if [ $TRAVIS_EVENT_TYPE = api ]; then echo -e "# cibuild via api" ; fi
- if [ $TRAVIS_EVENT_TYPE = api ]; then travis_wait 35 ./script/cibuild; fi
- if [ $TRAVIS_EVENT_TYPE = pull_request ]; then echo -e "# cibuild via pull_request" ; fi
- if [ $TRAVIS_EVENT_TYPE = pull_request ]; then travis_wait 35 ./script/cibuild; fi
- if [ $TRAVIS_EVENT_TYPE = push ]; then echo -e "# cibuild via push" ; fi
- if [ $TRAVIS_EVENT_TYPE = push ]; then travis_wait 35 ./script/cibuild; fi
branches:               
  only:
  - master
deploy:
  provider: s3
  access_key_id:
    secure: obmIm6pUTccxYBZ+oVmvQ1o9i+5o/kB0ogcSUaJk57pud+hqaDScghwGLEJETo8DGgYORRbLxMX5S5qk16HkcBam4zXv8l4uXW9aS90w6/IJrdDZM0tNpBM3egsI0gPALd37gte26ZAIsZQIhid55026ETaRNEu080RUpfoUoJcDLKS1IKqY6QIlNhMdD28IWzkZS7ps7liA8Dbm3NNgqPLTqvxXKwy3g+TCVqeEbDozJ/Y3S5uH9skt7n0GfdRtfhf9FMjE588xT8cTxiG9uVm5ruNUruILDhjVdvlGOercMeqETV4X7V94lC87ltNblujVVzy7wridtvdoPbb6sw5f9tEsdv0lF2tXAyKrVAAhIDK15fXVKKW/ljshhxyfGN2xGvBb12Rsl7KOeFq5keutLUw7y6W9bim0OjiDb5WW2KKevUawtLgpl+ou1oTntEYEH98aD6X/KBNTXywSWmJbe46vLMU7suu0YPvEum4i2URQr7sHGVyjtXz0dpaQL/KPNtD9wTIUrCMM/K0ugc3WdxQ6/BRujeV19Mbr4z13SgcekgZ8Uq5tJYfwreHmHsQLi+E5YbAm1Qqszwc8SMMJV1bbnNfSM9Gu6rP5DewU6A2XLLAiaT8Edbkf5GpXHFoSkSqR1hEaNeRDo+iMKWk+mLfy9eeBZoaKABIBr9A=
  secret_access_key:
    secure: uDEDck8YRB2lrrpdkZ+fhkj+6d6UoWKB3pr+XDIZtiMRe9U7BOxzeyrJBcPN8WSr5kztPh0wF/+zdL9NugLzCaTha2F4/BEYlvPxhszLzqhpqRmR2qAh/bo3F8eJtKyqchAOmzlKcfvBPUMQ6xWGdGRct1GJYoneXD8nQ6prYtDBcU0ztEBRDK/gscSx8/HQ3c4+Deur7Th9xB1UwoiV46G+rytzALORpbhagfTjZ3ssKiWJwKwXdg/yBPS+IKYZGkKact027NdgZoyxPXQptqXSLVBt0YYMEfWF3UVCrsdwkmkPVr0UXXaliUMJKl88/DKNqkJ9pQyaFOaRXrNiFMtbyBpFS70OLm+oRHppMCrW8xSoboSIHPlGbOyWrWYoHaUpJ9E4m+5vYS3KflkNFKSu4viSXxS3Fo30yoFXPP3Fw2TIvEQ196l72/fNYMtyAtRx3P3PoYtPF1HrkwlnS15iFu9vEqq6j/Q6I5Fe3pARCkt3iAyZAdzWyBJ9TYUmJTi5RSyZi5IVbEVsvsb7ytrN+R6yMPOaHDBCM0xeuqZdyhnl7vMDS1HmgJvHMqNwTgkgFamMIlL5wg/xmSjtQX/bDEM7BCSjgKRBFXqZdezPpLMJ8HgkIQDUkqXaJmNPMcFNlyATSEif2mPVtGaZF5fAKPJE0Pz3LT0A0mMCiG0=
  bucket: whatthefuckjusthappenedtoday.com
  local_dir: _site
  skip_cleanup: true
  on:
    repo: mkiser/WTFJHT
notifications:
  slack:
    rooms:
      secure: oh1suThkyoPLUxMFWaNPtlIMICvJLztnibJGw75FzMDHV6m2cqho51k2kF97jMoQ6C+P3S1rte+5FRd65uyLgp7B6qP1vhM6XXRdQx1XpK1u2YyZ891L8ZMqVZcVq7uGNuuYBiyd+okZ0p0hK+iE96WYfvgwl9UTMkbBq4IKqe0Kzbkm6FSl1dX2KE4l3kRn3Npcx8jpejrT1xqaRnpcydcxf+6irEyKsyMMn+7Kk9SNTM53mfTJNqRR+HSw058NPLKhcDYeaEhsFaMhzUFrMlMdXHnQy0OmQYLZbtMX0SsvFsygrhEd9KqiKlfaEOH0+fc6mhyauJrVb2PAjr+3+EAuQ4cQUZkrEte8aT+Ym13P6f612pzQD+pjck6NFH98mNQ3y/FmeNl+r+YvEtSSs6IdVsUzDsBxOH+vD4G8D6RRtG1JDaAsFuhf0j+cgyjnWGltRjH0B8gHNMNvWtatb1AvdU/F28ZcXwQdSqjA920YwiR7vMTDB1QTW9YNBD9stR7iaGipCyYpOtDH639SFzLYQJ9AjgCMhsS1M3IsH082A1115i4qrK2wCYVbKZ4mnEyLO1lRFT/oWjF2F4Z4PGgwWM5BRl+0D1RzKOOPTVJT78QOVj6ejISennnw2lBebI05gTeQmbPSI7Fm1gvReoxWkhoz2yg/nT6cwfz7UR4=
    template:
      - "Build <%{build_url}|#%{build_number}> (<%{compare_url}|%{commit}>) by %{author} %{result} in %{duration}"
  email:
    recipients:
    - matt@whatthefuckjusthappenedtoday.com
    on_success: never
    on_failure: always
  webhooks:
  - https://www.google.com/webmasters/tools/ping?sitemap=https://whatthefuckjusthappenedtoday.com/sitemap.xml
  - http://www.bing.com/ping?sitemap=https://whatthefuckjusthappenedtoday.com/sitemap.xml
  slack:
    secure: oh1suThkyoPLUxMFWaNPtlIMICvJLztnibJGw75FzMDHV6m2cqho51k2kF97jMoQ6C+P3S1rte+5FRd65uyLgp7B6qP1vhM6XXRdQx1XpK1u2YyZ891L8ZMqVZcVq7uGNuuYBiyd+okZ0p0hK+iE96WYfvgwl9UTMkbBq4IKqe0Kzbkm6FSl1dX2KE4l3kRn3Npcx8jpejrT1xqaRnpcydcxf+6irEyKsyMMn+7Kk9SNTM53mfTJNqRR+HSw058NPLKhcDYeaEhsFaMhzUFrMlMdXHnQy0OmQYLZbtMX0SsvFsygrhEd9KqiKlfaEOH0+fc6mhyauJrVb2PAjr+3+EAuQ4cQUZkrEte8aT+Ym13P6f612pzQD+pjck6NFH98mNQ3y/FmeNl+r+YvEtSSs6IdVsUzDsBxOH+vD4G8D6RRtG1JDaAsFuhf0j+cgyjnWGltRjH0B8gHNMNvWtatb1AvdU/F28ZcXwQdSqjA920YwiR7vMTDB1QTW9YNBD9stR7iaGipCyYpOtDH639SFzLYQJ9AjgCMhsS1M3IsH082A1115i4qrK2wCYVbKZ4mnEyLO1lRFT/oWjF2F4Z4PGgwWM5BRl+0D1RzKOOPTVJT78QOVj6ejISennnw2lBebI05gTeQmbPSI7Fm1gvReoxWkhoz2yg/nT6cwfz7UR4=
after_deploy: 'curl -X DELETE "https://api.cloudflare.com/client/v4/zones/2fa02b93146397fbf2001d812ab8b31f/purge_cache"
  -H "X-Auth-Email: "$CLOUD_FLARE_EMAIL"" -H "X-Auth-Key: "$CLOUD_FLARE_API_KEY""
  -H "Content-Type: application/json" --data "{\"purge_everything\":true}"'
