---
title: All Trump News
layout: default
image:
  twitter: "/public/wtfjht-t.jpg"
  facebook: "/public/wtfjht-f.jpg"
---

<!-- MailChimp -->
{% include_cached email.html %}

<div class="posts">
  {% for post in site.posts %}
  <article class="post">
    <h2 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}:
      <span class="post-small">{{ post.description }}</span></a>
    </h2>
    <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">
       {{ post.date | date: "%m/%d/%Y" }}
  </time>
 
    {{ post.content | extlinks }}
  </article>
  {% endfor %} 
</div> 
