---
title: Archive
layout: default
image:
  twitter: "/public/wtfjht-t.jpg"
  facebook: "/public/wtfjht-f.jpg"
metatags: index, follow
---

<h1 style="text-align: center;">Archive of All Posts</h1>

{% include_cached  archive-nav.html site=site %}

<div class="posts">
  <article class="post">
  {% for post in site.posts %}
    <h2 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}:
      <span class="post-small">{{ post.description }}</span></a>
    </h2>
    <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">
       {{ post.date | date: "%m/%d/%Y" }}
  </time>
  {% endfor %} 
  </article>
</div> 