---
layout: default
title: What The Fuck Just Happened Today?
image:
  twitter: /public/wtfjht-t.jpg
  facebook: /public/wtfjht-f.jpg
---

 <!-- Pledge Drive -->
<!--  {% include pledge3.html %}
 -->
<!-- MailChimp -->
{% include email.html %}

<!--End mc_embed_signup-->


<div class="posts">
  {% for post in site.posts limit:7 %}
  <article class="post">
    <h2 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}:
      <span class="post-small">{{ post.description }}</span></a>
    </h2>
    
   <time datetime="{{ post.last_modified | date_to_xmlschema }}" class="post-date">
    {{ post.date | date: "%-m/%-d/%Y" }} 
    <br>
    <small>
      <em>Updated: {{ post.last_modified | time_zone: 'America/Los_Angeles' | date: "%-m/%-d/%Y %l:%M %p %Z"}}</em>
    </small><br>
    <small>
     <a href="https://github.com/mkiser/WTFJHT/edit/master/{{ page.path }}" target="_blank">Help improve this article</a> |  <a href="https://github.com/mkiser/WTFJHT/commits/master/{{ page.path }}" target="_blank">See revision history</a>
    </small>
  </time>

    {{ post.content }}
  </article>
  {% endfor %} 
</div> 
