<hr>
<center>
<!-- 
<p><strong>The Normal Person's Guide to 45’s First 45 Fucking Days</strong></p>
Navigation: -->
<a href="{{ site.baseurl }}/45-for-45">Home</a> | 
<a href="{{ site.baseurl }}/45-for-45/media">The Media</a> | 
<a href="{{ site.baseurl }}/45-for-45/russia">Russia</a> |
<a href="{{ site.baseurl }}/45-for-45/health-care">Obamacare</a> |
<a href="{{ site.baseurl }}/45-for-45/travel-ban">Travel Ban</a> |
<a href="{{ site.baseurl }}/45-for-45/jeff-sessions">Jeff Sessions</a> 
</center>

<hr> 