<head>
  <!--
   __    __ _           _     _____ _              ___           _     
  / / /\ \ \ |__   __ _| |_  /__   \ |__   ___    / __\   _  ___| | __ 
  \ \/  \/ / '_ \ / _` | __|   / /\/ '_ \ / _ \  / _\| | | |/ __| |/ / 
   \  /\  /| | | | (_| | |_   / /  | | | |  __/ / /  | |_| | (__|   <  
    \/  \/ |_| |_|\__,_|\__|  \/   |_| |_|\___| \/    \__,_|\___|_|\_\ 
                                                                       
     __            _                                                 _ 
     \ \ _   _ ___| |_    /\  /\__ _ _ __  _ __   ___ _ __   ___  __| |
      \ \ | | / __| __|  / /_/ / _` | '_ \| '_ \ / _ \ '_ \ / _ \/ _` |
   /\_/ / |_| \__ \ |_  / __  / (_| | |_) | |_) |  __/ | | |  __/ (_| |
   \___/ \__,_|___/\__| \/ /_/ \__,_| .__/| .__/ \___|_| |_|\___|\__,_|
                                    |_|   |_|                          
   _____          _             ___                                    
  /__   \___   __| | __ _ _   _/ _ \                                   
    / /\/ _ \ / _` |/ _` | | | \// /                                   
   / / | (_) | (_| | (_| | |_| | \/                                    
   \/   \___/ \__,_|\__,_|\__, | ()                                    
                          |___/                                        
  -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% include_cached css.html %}
  <link rel="shortcut icon" href="{{ site.url }}{{ site.baseurl }}/public/favicon.ico" type="image/x-icon">
  <link rel="icon" href="{{ site.url }}{{ site.baseurl }}/public/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/public/apple-touch-icon-precomposed.png">
  <link rel="alternate" type="application/atom+xml" title="Atom - {{ site.title }}" href="{{ site.url }}{{ site.baseurl }}/atom.xml">
  <link rel='alternate' type='application/rss+xml' title='RSS - {{ site.title }}' href="{{ site.url }}{{ site.baseurl }}/rss.xml">

  {% include_cached push.html %}
  {% if page.type == 'year' %}
    {% seo title=false %}
    <title>{{ page.date | date: "%Y" }} Archive | {{ site.title}}</title>
  {% elsif page.type == 'month' %}
    {% seo title=false %}
    <title>{{ page.date | date: "%B %Y" }} Archive | {{ site.title}}</title>
  {% else %}
    {% seo %} 
  {% endif %}
  {% if page.path contains '_posts' %}
    {% if page.last_modified %}
    {% assign modified = page.last_modified %}
    {% else %}
    {% assign modified = page.date %}
    {% endif %}
    <meta content="{{ modified | date_to_xmlschema }}" itemprop="dateModified" />
  {% endif %}
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-91051784-1', 'auto', {'allowLinker': true});
  ga('require', 'linker');
  ga('linker:autoLink', ['list-manage.com'], false, true);
  ga('linker:autoLink', ['memberful.com'], true);
  ga('send', 'pageview');
  </script>
  <meta property="fb:pages" content="1415262761838827" />
<!-- <script>
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
    n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
    document,'script','https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '181350185699344');
    fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=181350185699344&ev=PageView&noscript=1"
    />
  </noscript>
-->

  <script type="text/javascript">
    window.MemberfulOptions = {site: "https://wtfjht.memberful.com"};
    (function() {
      var s   = document.createElement('script');
      s.type  = 'text/javascript';
      s.async = true;
      s.src   = 'https://d35xxde4fgg0cx.cloudfront.net/assets/embedded.js';
      setup = function() { window.MemberfulEmbedded.setup(); }
      s.addEventListener("load", setup, false);
      ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
    })();
  </script> 

</head>