<!-- ALGOLIA -->
 <script>
    window.ALGOLIA_CONFIG = {
      'applicationId': '{{ site.algolia.application_id }}',
      'indexName': '{{ site.algolia.index_name }}',
      'apiKey': '{{ site.algolia.read_only_api_key }}',
      'baseurl': '{{ site.baseurl }}'
    }
  </script>
  <script id="algolia__template" type="text/template">
  {% raw %}
    <div class="algolia__result">
      <h1 class="post-title"><a href="{{ full_url }}">{{{ title }}}: {{{ description }}}</a></h1>
      {{#posted_at}}
      <div class="algolia__result-date">{{ posted_at_readable }}</div>
      {{/posted_at}}
      <div class="algolia__result-text">{{{ _highlightResult.content.value }}}</div>
    </div>
  {% endraw %}
  </script>
  <script id="algolia__template--no-results" type="text/template">
    Fake news not found.
  </script>