<div class="away-mode">
  <p><strong>👋 Away Message</strong>: Hi there, Matt's currently away from the computer, but in the spirit of experimentation, the daily WTFJHT post will be powered by <a href="https://currentstatus.io/" target="_blank">Current Status</a> and lightly edited by a human for clarity.</p>
  <p>(For those who aren't familiar, <a href="https://currentstatus.io/" target="_blank">Current Status</a> is a tool I developed to make it faster and easier to source the stories that the political web is currently reading and sharing.)</p>
  <p><strong>What to expect this week</strong>: The daily summaries will be a bit shorter, the Notables are taking the week off, but the overall number of stories in each edition of WTF Just Happened Today? will remain about the same. We'll return to our regularly schedule WTFJHT programming on Monday, May 20th. As with any experiment, I welcome your feedback. Let me know what ya think.</p>
</div>
<hr />