<div class="away-mode">
  <p><strong>👋 Away Message</strong>: Hi there, Matt's currently away from the computer this week, but in the spirit of experimentation, the daily post will be produced by <a href="https://currentstatus.io/" target="_blank">Current Status</a>, but (lightly) edited by a human for clarity.</p>
  <p>(For those who aren't familiar, <a href="https://currentstatus.io/" target="_blank">Current Status</a> is a tool I developed to make it faster and easier to find the top stories that the political web is currently reading and sharing. I made a version of it public, so you can check out wtf is currently happening.)</p>
  <p><strong>What to expect this week</strong>: The daily summaries will be a bit shorter, the Notables section will be taking the week off, but the overall number of stories in each edition will remain about the same. We'll return to our regularly schedule WTF programming on Monday, May 20th. As with any experiment, I welcome your feedback. Let me know what ya think.</p>
</div>

<!-- <hr> -->