<div class="away-mode">
  <p><strong>🎁 Programming note</strong>: A quick update on what to expect from WTFJHT as we head into the holidays... I’ll be publishing Monday, Dec. 29 and Tuesday, Dec. 30, before returning to my regular Monday–Thursday schedule on Monday, Jan. 5, 2026. As always, if something truly WTF-y happens, I’ll be here. Otherwise, this is a short pause to recharge and spend some time with family. Thanks for reading, sharing, and supporting this project. It means a lot and I’m glad you’re here. -MATT</p>
  <p>Send your thoughts, suggestions, or complaints to:<br />
  <strong><a href="mailto:matt@whatthefuckjusthappenedtoday.com">matt@whatthefuckjusthappenedtoday.com</a> </strong></p>
</div>
<hr />
