<!-- <script type="text/javascript">
(function(w,d){
  w.HelpCrunch=function(){w.HelpCrunch.q.push(arguments)};w.HelpCrunch.q=[];
  function r(){var s=document.createElement('script');s.async=1;s.type='text/javascript';s.src='https://widget.helpcrunch.com/';(d.body||d.head).appendChild(s);}
  if(w.attachEvent){w.attachEvent('onload',r)}else{w.addEventListener('load',r,false)}
})(window, document)
</script>

<script type="text/javascript">
  HelpCrunch('init', 'wtfjusthappenedtoday', {
    applicationId: 1,
    applicationSecret: '0l4WzAOZKrMUhfZpw5DKk4AGtqz33rvLNcC+WApl2r3Cru0zZWOMdnWT6MFi3C7pmer2ptjG4U9HCmuZMuxrQA=='
  });

  HelpCrunch('showChatWidget');
</script>
-->