  <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/styles.css" type="text/css">
  <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/public/css/algolia.css" type="text/css">
  <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/public/css/font-awesome/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" type="text/css">
  <style type="text/css">
  #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
  </style>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald|Poppins" type="text/css">
  <link href="{{ site.url }}{{ site.baseurl }}/public/css/quiz/slickQuiz.css" media="screen" rel="stylesheet" type="text/css">
<!--   <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/public/css/bigfoot/bigfoot-default.css" type="text/css">
  <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/public/css/bigfoot/bigfoot-default.scss" type="text/css">
 -->
 <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/public/css/rrssb.css" />
