<h3 style="
    color: #e74c3c;
    text-align: center;
    margin: 20px auto 0 auto;
    padding: 1rem;
    max-width: 40rem;
">Your Government Has Been Shutdown For: <br><span id="doomsday"></span></h3>
<hr>
<div style="width:100%;height:0;padding-bottom:66%;position:relative;"><iframe src="https://giphy.com/embed/Hj7mksbFWIOdO" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>

<script>
	var deadline=(new Date("Dec 21, 2018 23:59:59 -0500")).getTime();
	var x=setInterval(function(){
		var now=(new Date).getTime();
		// now-deadline = count up // deadline-now = count down 
		var distance=now-deadline;
		var days=Math.floor(distance/(1000*60*60*24));
		var hours=Math.floor(distance%(1000*60*60*24)/(1000*60*60));
		var minutes=Math.floor(distance%(1000*60*60)/(1000*60));
		var seconds=Math.floor(distance%(1000*60)/1000);
		document.getElementById("doomsday").innerHTML=days+"d "+hours+"h "+minutes+"m "+seconds+"s";
		if(distance<0){clearInterval(x);
		document.getElementById("doomsday").innerHTML="0d 0h 0m 0s"}
	},1000);
</script>
