{% assign sfx = include.id_suffix | default: "" %}<div class="subscribe-form">
  <form action="https://whatthefuckjusthappenedtoday.us7.list-manage.com/subscribe/post?u=104aa3abb9fec8b4d037ed51d&amp;id=9813b73b1a" method="post" id="mc-embedded-subscribe-form{{ sfx }}" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate{% if site.subscribe_api and site.subscribe_api != "" %} data-subscribe-api="{{ site.subscribe_api }}"{% endif %}>
    <div class="subscribe-form__row">
      <label for="mce-EMAIL{{ sfx }}" class="sr-only">Email address</label>
      <input type="email" value="" name="EMAIL" class="subscribe-form__input" id="mce-EMAIL{{ sfx }}" placeholder="Type your email..." autocomplete="email" required>
      <input type="submit" value="Subscribe for free" name="subscribe" id="mc-embedded-subscribe{{ sfx }}" class="subscribe-form__button">
    </div>
    <div style="position:absolute;left:-5000px;" aria-hidden="true">
      <input type="text" name="website" tabindex="-1" value="" autocomplete="off">
      <input type="text" name="b_104aa3abb9fec8b4d037ed51d_9813b73b1a" tabindex="-1" value="" autocomplete="off">
    </div>
    {% if site.turnstile_site_key and site.turnstile_site_key != "" and site.subscribe_api and site.subscribe_api != "" %}
    <div class="cf-turnstile" data-sitekey="{{ site.turnstile_site_key }}" data-appearance="interaction-only" data-execution="execute" data-callback="wtfjhtSubscribeToken" data-error-callback="wtfjhtSubscribeError" data-response-field-name="cf-turnstile-response"></div>
    {% endif %}
    <p class="subscribe-form__trust" role="status" aria-live="polite">Free. No spam. Unsubscribe anytime.</p>
  </form>
</div>
