<div class="subscribe-form">
  <form action="https://whatthefuckjusthappenedtoday.us7.list-manage.com/subscribe/post?u=104aa3abb9fec8b4d037ed51d&amp;id=9813b73b1a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div class="subscribe-form__row">
      <label for="mce-EMAIL" class="sr-only">Email address</label>
      <input type="email" value="" name="EMAIL" class="subscribe-form__input" id="mce-EMAIL" placeholder="Type your email..." required>
      <input type="submit" value="Subscribe for free" name="subscribe" id="mc-embedded-subscribe" class="subscribe-form__button">
    </div>
    <p class="subscribe-form__trust">Free. No spam. Unsubscribe anytime.</p>
  </form>
</div>
