
<link rel="icon" href="{{ site.url }}{{ site.baseurl }}/public/favicons/favicon.ico" type="image/x-icon">
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.url }}{{ site.baseurl }}/public/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.url }}{{ site.baseurl }}/public/favicons/favicon-16x16.png">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/public/favicons/apple-touch-icon-precomposed.png">
<link rel="manifest" href="{{ site.url }}{{ site.baseurl }}/public/favicons/site.webmanifest">
<link rel="mask-icon" href="{{ site.url }}{{ site.baseurl }}/public/favicons/safari-pinned-tab.svg" color="#ff0000">
<link rel="shortcut icon" href="{{ site.url }}{{ site.baseurl }}/public/favicons/favicon.ico" type="image/x-icon">
<meta name="msapplication-TileColor" content="#000000">
<meta name="msapplication-config" content="{{ site.url }}{{ site.baseurl }}/public/favicons/browserconfig.xml">
<meta name="theme-color" content="#000000">
