<footer class="footer">
  <ul>
    <li><a href="{{ site.baseurl }}/">Home</a></li>
    <li><a href="{{ site.baseurl }}/about/">About</a></li>
    <li><a href="{{ site.baseurl }}/membership/">Membership</a></li>
    <li><a href="{{ site.baseurl }}/faq/">FAQ</a></li>
    <li><a href="{{ site.baseurl }}/team/">Team</a></li>
    <li><a href="{{ site.baseurl }}/press/">Press</a></li>
    <li><a href="{{ site.baseurl }}/first-100-days/">The First 100 Days</a></li>
    <li><a href="{{ site.baseurl }}/license/">License</a></li>
    <li><a href="{{ site.baseurl }}/archive/">Archive</a></li>
  </ul>
  {% include copyright.html %}
</footer>
  {% include algolia.html %}
  {% include js.html %}
  {% include scrolldepth.html %}
  {% include clickEvent.html %}
  {% if page.layout == 'post' %}
    {% include anchors.html %}
  {% endif %}
<!--  {% include intercom.html %} -->
  </body>
<!--  
         _    _ ___________ ___ _   _ _____ 
   ____ | |  | |_   _|  ___|_  | | | |_   _|
  / __ \| |  | | | | | |_    | | |_| | | |  
 / / _` | |/\| | | | |  _|   | |  _  | | |  
| | (_| \  /\  / | | | | /\__/ / | | | | |  
 \ \__,_|\/  \/  \_/ \_| \____/\_| |_/ \_/  
  \____/                                    
                                            
-->
</html>
