<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% seo %}

  <link rel="stylesheet" href="/styles.css">
  <!-- <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/public/apple-touch-icon-precomposed.png"> -->
  <link rel="shortcut icon" href="/public/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/public/favicon.ico" type="image/x-icon">
  <link rel="alternate" type="application/atom+xml" title="Atom - {{ site.title }}" href="/atom.xml">
  <link rel='alternate' type='application/rss+xml' title='RSS - {{ site.title }}' href="/rss.xml">

</head>
