<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% seo %}

  <link rel="stylesheet" href="{{ site.baseurl }}/styles.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/algolia.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/font-awesome/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Oswald|Poppins" rel="stylesheet">
  <!-- <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/public/apple-touch-icon-precomposed.png"> -->
  <link rel="shortcut icon" href="{{ site.baseurl }}/public/favicon.ico" type="image/x-icon">
  <link rel="icon" href="{{ site.baseurl }}/public/favicon.ico" type="image/x-icon">
  <link rel="alternate" type="application/atom+xml" title="Atom - {{ site.title }}" href="{{ site.baseurl }}/atom.xml">
  <link rel='alternate' type='application/rss+xml' title='RSS - {{ site.title }}' href="{{ site.baseurl }}/rss.xml">
  
</head>
