  <script src="{{ site.url }}{{ site.baseurl }}/public/js/anchor.min.js"></script>
  <script src="{{ site.url }}{{ site.baseurl }}/public/js/jquery.min.js"></script>
  <script src="{{ site.url }}{{ site.baseurl }}/public/js/algoliasearch.min.js"></script>
  <script src="{{ site.url }}{{ site.baseurl }}/public/js/algoliasearch.helper.min.js"></script>
  <script src="{{ site.url }}{{ site.baseurl }}/public/js/hogan.min.js"></script>
  <script src="{{ site.url }}{{ site.baseurl }}/public/js/moment.min.js"></script>
  <script src="{{ site.url }}{{ site.baseurl }}/public/js/algolia.js"></script>
  <script src="{{ site.url }}{{ site.baseurl }}/public/js/jquery.scrolldepth.min.js"></script>
  <script src="{{ site.url }}{{ site.baseurl }}/public/js/riveted.min.js"></script>
  <script src="{{ site.url }}{{ site.baseurl }}/public/js/randomPost.js"></script>
  <script src="{{ site.url }}{{ site.baseurl }}/public/js/rrssb.min.js"></script>

  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.0/jquery.cookie.min.js"></script>
  <script>
    if($.cookie('membershipdrive') == 'true'){
      $('#pledgedrive').hide();
    };
    $("#close").click(function(){
      document.cookie = "membershipdrive=true; max-age=129600";
    });
  </script>

  <script>riveted.init();</script>
  {% include_cached chat.html %}
  {% include_cached audio.html %}

  {% if page.layout == 'post' %}
    {% include_cached anchors.html %}
    {% include todaylastyear.html %}
  {% endif %}

  {% if page.layout == 'topics' %}
    {% include_cached anchors.html %}
  {% endif %}

  {% if page.title == 'WTF News Quiz' %}
    {% include_cached quiz.html %}
  {% endif %}

  {% include_cached scrolldepth.html %}
  {% include clickEvent.html %}