  <script src="{{ site.url }}/public/js/anchor.min.js"></script>
  <script src="{{ site.url }}/public/js/jquery.min.js"></script>
  <script src="{{ site.url }}/public/js/algoliasearch.min.js"></script>
  <script src="{{ site.url }}/public/js/algoliasearch.helper.min.js"></script>
  <script src="{{ site.url }}/public/js/hogan.min.js"></script>
  <script src="{{ site.url }}/public/js/moment.min.js"></script>
  <script src="{{ site.url }}/public/js/algolia.js"></script>
  <script src="{{ site.url }}/public/js/jquery.scrolldepth.min.js"></script>
  <script src="{{ site.url }}/public/js/riveted.min.js"></script>
  <script>riveted.init();</script>