<div class="pledge-drive-bottom" id="pledgedrive">
	<span id="close">&#10006;</span>
	<center>
		<div style="padding-bottom:10px;">Win a copy of Drawing the News&#58; The WTF Portraits.</div>
		<div>
		<!-- <a href="{{ site.url }}{{ site.baseurl }}/membership" class="btn btn-info btn-outline">Become a member now</a> -->
		<!-- <a href="https://cottonbureau.com/products/wtf-just-happened-today" target="_blank" class="btn btn-info btn-outline">Get Your T-Shirt</a> -->
		<!-- <a href="https://gum.co/wtfstickers" target="_blank" class="btn btn-info btn-outline">Buy Stickers</a> -->
		</div>
	</center>
	<script>
	window.onload = function(){
	    document.getElementById('close').onclick = function(){
	        this.parentNode.remove(this.parentNode);
	        return false;
	    };
	};
	</script>
</div>