<div class="pledge-drive-bottom">
	<span id="close">&#10006;</span>
	<center>
		<div style="padding-bottom:10px;">Support WTFJHT today.</div>
		<div>
		<a href="{{ site.baseurl }}/membership" class="btn btn-info btn-outline">Donate now</a> 
		<a href="https://cottonbureau.com/products/wtf-just-happened-today" target="_blank" class="btn btn-info btn-outline">Buy T-Shirts</a> 
		<a href="https://gum.co/wtfstickers" target="_blank" class="btn btn-info btn-outline">Buy Stickers</a>
	</div>
</center>
<script>
window.onload = function(){
    document.getElementById('close').onclick = function(){
        this.parentNode.parentNode.parentNode
        .removeChild(this.parentNode.parentNode);
        return false;
    };
};
</script>
</div>