  <ul>
    <li><a href="{{ site.url }}{{ site.baseurl }}/">Home</a></li>
    <li><a href="https://currentstatus.io/">Current Status</a></li>
    <li><a href="{{ site.url }}{{ site.baseurl }}/about/">About</a></li>
    <li><a href="{{ site.url }}{{ site.baseurl }}/membership/">Membership</a></li>
    <li><a href="{{ site.url }}{{ site.baseurl }}/faq/">FAQ</a></li>
    <li><a href="{{ site.url }}{{ site.baseurl }}/team/">Team</a></li>
    <li><a href="{{ site.url }}{{ site.baseurl }}/press/">Press</a></li>
    <li><a href="{{ site.url }}{{ site.baseurl }}/first-100-days/">The First 100 Days</a></li>
    <li><a href="{{ site.url }}{{ site.baseurl }}/trump-russia-investigation/">Russia Investigation</a></li>
    <li><a href="{{ site.url }}{{ site.baseurl }}/trump-health-care/">Health Care</a></li>
    <li><a href="{{ site.url }}{{ site.baseurl }}/trump-epa/">The EPA</a></li>
    <li><a href="{{ site.url }}{{ site.baseurl }}/trump-fake-news/">Fake News</a></li>
    <li><a href="{{ site.url }}{{ site.baseurl }}/trump-travel-ban/">Travel Ban</a></li>
    <li><a href="{{ site.url }}{{ site.baseurl }}/guide/internet-security/">Internet Security Guide</a></li>
    <li><a href="{{ site.url }}{{ site.baseurl }}/all/">All Posts</a></li>
    <li><a href="{{ site.url }}{{ site.baseurl }}/archive/">Archive</a></li>
    <li><a href="{{ site.url }}{{ site.baseurl }}/license/">License</a></li>
  </ul>