<nav class="wtf-pagination">
  <div class="menu">
    <div><a href="{{ site.url }}{{ site.baseurl }}/">Home</a> | </div>
    <div>
      {% for post in site.posts limit:1 %} 
      <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">Today</a>{% endfor %} | 
    </div>
    <div>
      {% for post in site.posts limit:1 offset:1 %} <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">Yesterday</a>{% endfor %} | 
    </div>
    <div><a href="#" onclick="randomPost();">Random WTF</a> | </div>
    <div><a href="https://currentstatus.io/">Current Status</a> | </div>
    <div><a href="{{ site.url }}{{ site.baseurl }}/podcasts/">Podcast</a> | </div>
    <div><a href="https://talk.whatthefuckjusthappenedtoday.com/">Community</a> | </div>
    <div><a href="{{ site.url }}{{ site.baseurl }}/subscribe/">Newsletter</a> | </div>
    <div><a href="{{ site.url }}{{ site.baseurl }}/membership/">Become a Member</a></div>
  </div>
</nav>