<div class="pledge-drive">
  <h6>Support WTFJHT!</h6>
	
	<p>Big news! <a href="{{ site.baseurl }}/meta/trump-creates-one-new-job/">WTFJHT is now my full-time job</a>. And it wouldn't be possible without the community – without you. Consider becoming a member and supporting WTFJHT with a small donation. <a href="{{ site.baseurl }}/membership">Learn more about membership</a></p>
	
	<p>
		<strong>Limited Edition T-Shirts and Stickers</strong><br>
		Now until May 1st, I'm selling a limited batch of t-shirts and stickers.<br> <strong><a href="https://gumroad.com/dailywtf" target="_blank">Buy Now</a></strong>
	</p>
</div>