<hr>
<div class="pledge-drive">
  <h6>Become a supporting member.</h6>
  <p>It's not enough to be a consumer of media. You must be a stakeholder in it. Invest in the continued production of WTF Just Happened Today? by becoming a supporting member. <strong>Choose from four recurring membership options below</strong>:</p>

  <div class="flex-container">
    <div class="flex-item">
      <div class="package">
        <a href="https://membership.whatthefuckjusthappenedtoday.com/checkout?plan=26829">
          <span class="price">$5/month</span>
          <span class="label">Start Here</span>
        </a>
      </div>
    </div>
    <div class="flex-item">
      <div class="package package--featured">
        <a href="https://membership.whatthefuckjusthappenedtoday.com/checkout?plan=26830">
          <span class="price">$10/month</span>
          <span class="label">Most Popular</span>
        </a>
      </div>
    </div>
    <div class="flex-item">
      <div class="package">
        <a href="https://membership.whatthefuckjusthappenedtoday.com/checkout?plan=26833">
          <span class="price">$50/year</span>
          <span class="label">Booster</span>
        </a>
      </div>
    </div>
    <div class="flex-item">
      <div class="package">
        <a href="https://membership.whatthefuckjusthappenedtoday.com/checkout?plan=26863">
          <span class="price">$100/year</span>
          <span class="label">Maximum WTF</span>
        </a>
      </div>
    </div>
  </div>

  <p style="margin-top: 2em;"><strong><a href="{{ site.baseurl }}/membership">Learn more about the WTFJHT membership program</a></strong></p>
</div>
