<hr>
<div class="pledge-drive">
<h6>Become a supporting member.</h6>
<p>It's not enough to be a consumer of media. You must be a stakeholder in it. Invest in the continued production of WTF Just Happened Today? by becoming a supporting member. <strong>Choose from three recurring membership options below</strong>:</p>

<div class="flex-container">
  <div class="flex-item">
    <ul class="package">
      <a href="https://wtfjht.memberful.com/checkout?plan=26829"><li class="header">$5/month</li></a>
    </ul>
  </div>
  <div class="flex-item">
    <ul class="package">
      <a href="https://wtfjht.memberful.com/checkout?plan=26833"><li class="header">$50/year</li></a>  
    </ul>
  </div>  
  <div class="flex-item">
    <ul class="package">
      <a href="https://wtfjht.memberful.com/checkout?plan=26863"><li class="header">$100/year</li></a>  
    </ul>
  </div>  
</div>

	
	
<p><strong><a href="{{ site.baseurl }}/membership">Learn more about the WTFJHT membership program</a></strong></p>
	
</div>
