<hr>
<div class="pledge-drive">
  <h6>Become a supporting member.</h6>
  <p>It's not enough to be a consumer of media. You must be a stakeholder in it. Invest in the continued production of WTF Just Happened Today? by becoming a supporting member. <strong>Choose from four recurring membership options below</strong>:</p>

  <div class="pkgs">
    <div class="pkg">
      <a href="https://membership.whatthefuckjusthappenedtoday.com/checkout?plan=26829">
        <span class="pkg__price">$5/month</span>
        <span class="pkg__label">Start Here</span>
      </a>
    </div>
    <div class="pkg pkg--featured">
      <a href="https://membership.whatthefuckjusthappenedtoday.com/checkout?plan=26830">
        <span class="pkg__price">$10/month</span>
        <span class="pkg__label">Most Popular</span>
      </a>
    </div>
    <div class="pkg">
      <a href="https://membership.whatthefuckjusthappenedtoday.com/checkout?plan=26833">
        <span class="pkg__price">$50/year</span>
        <span class="pkg__label">Booster</span>
      </a>
    </div>
    <div class="pkg">
      <a href="https://membership.whatthefuckjusthappenedtoday.com/checkout?plan=26863">
        <span class="pkg__price">$100/year</span>
        <span class="pkg__label">Maximum WTF</span>
      </a>
    </div>
  </div>

  <p class="mt-2"><strong><a href="{{ site.baseurl }}/membership">Learn more about the WTFJHT membership program</a></strong></p>
</div>
