<div class="posts">
  {% assign start_date = include.start_date | date: '%s' %}
  {% assign end_date_obj = include.end_date | date: '%Y-%m-%d 23:59:59' | date: '%s' %}
  
  {% for post in site.posts reversed %}
    {% assign post_date = post.date | date: '%s' %}
    {% if post_date >= start_date and post_date <= end_date_obj %}
    <article class="post">
      <h2 class="post-title">
        <a href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title }}:
        <span class="post-small">{{ post.description }}</span></a>
      </h2>
      <time datetime="{{ post.last_modified | date_to_xmlschema }}" class="post-date">
         {{ post.date | date: "%m/%d/%Y" }}
      </time>
      <div class="post-content">
        {{ post.content | extlinks }}
      </div>
    </article>
    {% endif %}
  {% endfor %} 
</div>
