  <link rel="manifest" href="/manifest.json">
  <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async></script>
  <script>
    var OneSignal = window.OneSignal || [];
    OneSignal.push(["init", {
      appId: "b2203a05-d61e-466f-8655-6184372a478a",
      autoRegister: true,
      allowLocalhostAsSecureOrigin: true,
      // welcomeNotification: {
      //   "title": "Thanks for subscribing!",
      //   "message": "We'll only send you one notification a day."
      // },
      welcomeNotification: {
        disable: true
      },
      notifyButton: {
        enable: false
      }
    }]);
  </script>