{%- assign words = page.content | strip_html | number_of_words -%}
{%- assign reading_speed = 200 -%}
{%- capture word_count -%}{{ words }}{%- endcapture -%}
{%- assign comma_separated_words = '' -%}
{%- assign digits = word_count | split: '' -%}
{%- assign digit_count = digits.size -%}

{%- for digit in digits -%}
  {%- assign current_index = forloop.index0 -%}
  {%- assign positions_from_end = digit_count | minus: current_index -%}
  {%- assign remainder = positions_from_end | modulo: 3 -%}

  {%- if remainder == 0 and current_index > 0 -%}
    {%- assign comma_separated_words = comma_separated_words | append: ',' -%}
  {%- endif -%}

  {%- assign comma_separated_words = comma_separated_words | append: digit -%}
{%- endfor -%}

{%- assign minutes_decimal = words | times: 1.0 | divided_by: reading_speed -%}
{%- assign minutes_whole = minutes_decimal | floor -%}
{%- assign minutes_fraction = minutes_decimal | minus: minutes_whole -%}

This edition is {{ comma_separated_words }}&nbsp;words, {% if minutes_whole < 1 and minutes_fraction < 0.5 %}a&nbsp;1&#8209;minute&nbsp;read{% else %}{% if minutes_fraction < 0.25 %}a&nbsp;{{ minutes_whole }}&#8209;minute&nbsp;read{% elsif minutes_fraction < 0.75 %}a&nbsp;{{ minutes_whole }}½&#8209;minute&nbsp;read{% else %}a&nbsp;{{ minutes_whole | plus: 1 }}&#8209;minute&nbsp;read{% endif %}{% endif %}.
