<div class="social-icons">
	<div class="icon"><a href="https://twitter.com/WTFJHT" target="_blank"><img src="{{ site.url }}/public/twitter.svg"></a></div>
	<div class="icon"><a href="https://www.facebook.com/wtfjht/" target="_blank"><img src="{{ site.url }}/public/facebook.svg"></a></div>
	<div class="icon"><a href="https://whatthefuckjusthappenedtoday.com/atom.xml" target="_blank"><img src="{{ site.url }}/public/rss.svg"></a></div>
	<div class="icon"><a href="https://github.com/mkiser/WTFJHT" target="_blank"><img src="{{ site.url }}/public/github.svg"></a></div>
</div>