// Layout
//
// Styles for managing the structural hierarchy of the site.

.container {
  margin-left:  auto;
  margin-right: auto;
}

footer {
  padding: 2em 2em 1em 2em;
  background-color: #222;
  color: $gray-3;
  margin-top: 2em;

  a {
    color: $gray-1;
  }

  p, span {
    font-size: .7em;
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      display: inline;
      padding-right: 1em;
      font-size: .75em;

      a {
        text-decoration: none;

        &:hover {
          color: #fff;
        }
      }
    }
  }
}

#ask-form {

  header {
    display: none !important;
    padding-top: 0px !important;
  }

  ul {
    border: 0px;
  }

  li {
    margin-top: 0px;
  }

  footer {
    padding: 0;
    background-color: #fff; 
    margin-top: 0px;
  }

  .submit-button {
    background: #0093f0 !important;
  }
}
.fa-css {
    left: 15px;
    position: absolute;
    top: 11px;
}    

.outer-wrapper {
  position: relative;
}

.inner-wrapper {
  display: inline-block;
  width: 90%;
  max-width: 90%;
}

.wtf-search-results {
  max-width: 38rem;
  margin: 0 auto;

  .algolia__result a {
    font-size: .75em;
  }

  .algolia__result-text {
    font-size: .85em;
  }

  .algolia__result-date {
    text-transform: uppercase;
    color: $gray-3;
    font-size: .7em;
    margin-bottom: .6em;
  }
}

.pledge-drive {
  margin: 1em auto;
  text-align: center;
  max-width: 40rem;
}

.tout {
  margin: 1em auto;
  text-align: center;
  max-width: 40rem;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

.anchorjs-link {
  transition: all .25s linear;
  text-decoration: none;
}

.anchorjs-link:before {
  color: #9a9a9a !important;
}

.anchorjs-link:after {    
  color: #9a9a9a !important;
}

*:hover > .anchorjs-link {
  margin-left: -1.125em !important;
  text-decoration: none !important;
}


.donorbox {
  position: relative;  
  margin: 10px 0;
}

.donorbox iframe {
  max-width: 425px; 
  margin: auto; 
  display: block;
  min-height: 566px;
}