// Layout
//
// Styles for managing the structural hierarchy of the site.

.container {
  margin-left:  auto;
  margin-right: auto;
}

footer {
  padding: 2em 2em 1em 2em;
  background-color: #222;
  color: $gray-3;
  margin-top: 2em;

  a {
    color: $gray-1;
  }

  p, span {
    font-size: .7em;
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      display: inline;
      padding-right: 1em;
      font-size: .75em;

      a {
        text-decoration: none;

        &:hover {
          color: #fff;
        }
      }
    }
  }
}

#ask-form {

  header {
    display: none !important;
    padding-top: 0px !important;
  }

  ul {
    border: 0px;
  }

  li {
    margin-top: 0px;
  }

  footer {
    padding: 0;
    background-color: #fff; 
    margin-top: 0px;
  }

  .submit-button {
    background: #0093f0 !important;
  }
}
.fa-css {
    left: 15px;
    position: absolute;
    top: 11px;
}    

.outer-wrapper {
  position: relative;
}

.inner-wrapper {
  display: inline-block;
  width: 90%;
  max-width: 90%;
}

.wtf-search-results {
  max-width: 38rem;
  margin: 0 auto;

  .algolia__result a {
    font-size: .75em;
  }

  .algolia__result-text {
    font-size: .85em;
  }

  .algolia__result-date {
    text-transform: uppercase;
    color: $gray-3;
    font-size: .7em;
    margin-bottom: .6em;
  }
}

.pledge-drive {
  margin: 1em auto;
  text-align: center;
  max-width: 40rem;
}

.tout {
  margin: 1em auto;
  text-align: center;
  max-width: 40rem;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

.anchorjs-link {
  transition: all .25s linear;
  text-decoration: none;
}

.anchorjs-link:before {
  color: #9a9a9a !important;
}

.anchorjs-link:after {    
  color: #9a9a9a !important;
}

*:hover > .anchorjs-link {
  margin-left: -1.125em !important;
  text-decoration: none !important;
}


.donorbox {
  position: relative;  
  margin: 10px 0;
}

.donorbox iframe {
  max-width: 425px; 
  margin: auto; 
  display: block;
  min-height: 566px;
}

.pledge-drive-bottom {
  display: block;
  position: fixed;
  width: 100%;
  bottom: 0px;
  left: 0px;
  z-index: 5000;
  background: #222;
  margin: 0;
  overflow: visible;
  padding: 0;
  color: #fff;
  padding: 10px;
}

.btn {
  display: inline;
  padding: 6px 12px;
  width: 50%;
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.btn-info {
  color: #fff;
  background-color: #222;
  border-color: #fff;
}

@media (max-width: 374px) {
    .btn {
      display: inline-block;
      padding: 2px 12px;
    }
}

.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.btn-info.btn-outline {
    color: #fff;
}

.btn-info.btn-outline:hover {
  color: #222;
  background-color: #fff;
  text-decoration: none;
}

#close {
  color: #fff;
  float: left;
  margin-top: 4px;
  height: 20px;
  width: 20px;
  text-align: center;
  display: block;
}

#close:hover {
  color: #222;
  background-color: #fff;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  text-align: center;
  display: block;
}

.author-avatar {
  display: inline-block;
  width: 150px;
  height:150px;
  margin: 25px auto;
  overflow: hidden;
  border-radius:50%;
  position: relative;
}

.author-image {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.author-box {
  display: inline-block;
  vertical-align: top;
  padding: 1rem;
}

.post>ul.archive-months {
  list-style-type: none;
  margin: -1rem 0 0 0;
  padding: 0;  
  border: none;
  background-color: rgba(0,0,0,0);
}

.archive-months li {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.archive-months li:after {
    content: ' | ';
    margin: 0;
    color: rgba(204, 204, 204, 1);
}

.archive-months li:last-child:after {
  content: none;
}

.pod-header {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 20px;
  margin-bottom: 15px;
}

.pod-cover {
  max-width: 150px;
  margin-right: 25px;
}

.pod-img {
  width: 100%;  
}

.pod-box {
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.pod-title {
  font-size: 1.75em;
  margin-top: 0;
}

.pod-desc {
  margin: 0em 0 1em 0;
  display: block;
  color: #9a9a9a;
}

.pod-box>.pod-subscribe {
  font-weight: 300;
  margin: 0em 0 1em 0;
}

h2.pod-lead{
  margin-top: 0em;
}

h3.pod-lead{
  margin-top: 0em;
}

h4.pod-lead{
  margin-top: 0em;  
}

.pod {
  margin: 1em 0 2em 0;
}

.audiojs {
    display: table;
    width: 100%;
    height: 34px;

    .play-pause, .scrubber, .time {
        display: table-cell;
        float: none;
        height: auto;
        vertical-align: middle;
    }

    .play-pause {
        padding: 0 6px;

        > p {
            margin: 0;
            padding: 0;
            height: 26px;
        }
    }

    .scrubber {
        width: 99%;
        margin: 0;
        padding: 0;

        > div {
            position: relative;
            margin: 0;

            &.progress {
                z-index: 2;
            }

            &.loaded {
                margin-top: -14px;
                z-index: 1;
            }
        }
    }

    .time {
        line-height: normal;
        margin: 0;
        padding: 0 12px;
        width: auto;
    }
}