// Layout
//
// Styles for managing the structural hierarchy of the site.

.container {
  margin-left:  auto;
  margin-right: auto;
}

footer {
  padding: 1em 0em 1em 0em;
  background-color: #222;
  color: $gray-3;
  margin-top: 2em;

  display: flex;
  min-height: 100vh;
  flex-direction: column;
  flex: 1;

  .ft-main {
    padding: 1rem 0 1rem 0;
    display: flex;
    flex-wrap: wrap;
  }
  .ft-main-item {
      padding: 1rem;
      min-width: 12.5rem /*200px*/;
  }
  h2.ft-title {
    font-size: 1.375rem;
    padding-bottom: 0.625rem;
    color: $gray-1;
  }
  h3.ft-title {
    font-size: 1.375rem;
    padding-bottom: 0.625rem;
    color: #f9f9f9;
    margin: 1rem 0 .5rem 0;
  }
  .ft-social {
      padding: 0 1rem 1rem;
  }
  .ft-social-list {
      display: flex;
      justify-content: center;
      border-top: 1px #777 solid; 
      padding-top: 1.25rem;
  }
  .ft-social-list li {
      margin: 0.5rem;
      font-size: 1.25rem;
  }  

  .ft-legal {
      padding: 1rem 1rem;
      background-color: #333;
  }
  .ft-legal-list {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
  }
  .ft-legal-list li {
      margin: 0.125rem 0.625rem;
      white-space: normal;
  }
  .ft-legal-list li:nth-last-child(2) {
      flex: 1;      
  }


  a {
    color: $gray-1;
  }

  p, span {
    font-size: .7em;
  }

  ul {
    margin: 0;
    list-style: none;
    padding: 0;

    li {
      /*display: inline;*/
/*      padding-right: 1em;
*/      font-size: .75em;

      a {
        text-decoration: none;

        &:hover {
          color: #fff;
        }
      }
    }
  }
}

#ask-form {

  header {
    display: none !important;
    padding-top: 0px !important;
  }

  ul {
    border: 0px;
  }

  li {
    margin-top: 0px;
  }

  footer {
    padding: 0;
    background-color: #fff; 
    margin-top: 0px;
  }

  .submit-button {
    background: #0093f0 !important;
  }
}
.fa-css {
    left: 15px;
    position: absolute;
    top: 11px;
}    

.outer-wrapper {
  position: relative;
}

.inner-wrapper {
  display: inline-block;
  width: 90%;
  max-width: 90%;
}

.wtf-search-results {
  max-width: 38rem;
  margin: 0 auto;

  .algolia__result a {
    font-size: .75em;
  }

  .algolia__result-text {
    font-size: .85em;
  }

  .algolia__result-date {
    text-transform: uppercase;
    color: $gray-3;
    font-size: .7em;
    margin-bottom: .6em;
  }
}

.pledge-drive {
  margin: 1em auto;
  text-align: center;
  max-width: 40rem;
  h6 {
    margin-top: 0;
  }

  p {
    margin-bottom: 1rem;
  }
}

.wtf-plans__grid {
  &--compact {
    margin: 1.5rem 0;

    .plan {
      padding: 1rem;
      
      &__price {
        margin-top: 1.5rem; // Add space for badge
        font-size: 1.75rem;
      }

      &__cta {
        margin-top: 0.5rem;
      }

      &__bullets,
      &__impact {
        display: none;
      }
    }
  }
}


.tout {
  margin: 1em auto;
  text-align: center;
  max-width: 40rem;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

.anchorjs-link {
  transition: all .25s linear;
  text-decoration: none;
}

.anchorjs-link:before {
  color: #9a9a9a !important;
}

.anchorjs-link:after {    
  color: #9a9a9a !important;
}

*:hover > .anchorjs-link {
  margin-left: -1.125em !important;
  text-decoration: none !important;
}


.donorbox {
  position: relative;  
  margin: 10px 0;
}

.donorbox iframe {
  max-width: 425px; 
  margin: auto; 
  display: block;
}

.pledge-drive-bottom {
  display: block;
  position: fixed;
  width: 100%;
  bottom: 0px;
  left: 0px;
  z-index: 5000;
  background: #222;
  margin: 0;
  overflow: visible;
  color: #fff;
  padding: 10px 10px 45px 10px;
}

.btn {
  display: inline;
  padding: 6px 12px;
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.btn-info {
  color: #fff;
  background-color: #222;
  border-color: #fff;
}

@media (max-width: 374px) {
    .btn {
      display: inline-block;
      padding: 2px 12px;
    }
}

.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.btn-info.btn-outline {
    color: #fff;
}

.btn-info.btn-outline:hover {
  color: #222;
  background-color: #fff;
  text-decoration: none;
}

#close {
  color: #fff;
  float: left;
  text-align: center;
  display: block;
  position: absolute;
}

#close:hover {
  color: #e74c3c;
}

.author-avatar {
  display: inline-block;
  width: 150px;
  height:150px;
  margin: 25px auto;
  overflow: hidden;
  border-radius:50%;
  position: relative;
}

.author-image {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.author-box {
  display: inline-block;
  vertical-align: top;
  padding: 1rem;
}

.post>ul.archive-months {
  list-style-type: none;
  margin: -1rem 0 0 0;
  padding: 0;  
  border: none;
  background-color: rgba(0,0,0,0);
}

.archive-months li {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.archive-months li:after {
    content: ' / ';
    margin: 0;
    color: rgba(204, 204, 204, 1);
}

.archive-months li:last-child:after {
  content: none;
}


.audiojs {
    display: table;
    width: 100%;
    height: 34px;

    .play-pause, .scrubber, .time {
        display: table-cell;
        float: none;
        height: auto;
        vertical-align: middle;
    }

    .play-pause {
        padding: 0 6px;

        > p {
            margin: 0;
            padding: 0;
            height: 26px;
        }
    }

    .scrubber {
        width: 99%;
        margin: 0;
        padding: 0;

        > div {
            position: relative;
            margin: 0;

            &.progress {
                z-index: 2;
            }

            &.loaded {
                margin-top: -14px;
                z-index: 1;
            }
        }
    }

    .time {
        line-height: normal;
        margin: 0;
        padding: 0 12px;
        width: auto;
    }
}




div.flex-item ul.package {
  border: none;
  padding: 0;
  margin: 0;
}

@media only screen and (max-width:425px){
  #chatio-container{
    display: none;
  }
}


@media only screen and (max-width: 700px) {
  button {
    padding: 0.75em;
  }
}

/*.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
  width: 100%;
  max-width: 40rem; // Matches other max-width values in your CSS
  margin: 0 auto;
}

.flex-item {
  flex: 0 1 calc(50% - 1em); // Takes up roughly half the container width minus gap
  min-width: 200px;
  margin: 0 !important; // Remove existing margin
}

.package {
  border: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  transition: 0.25s;
  border-radius: 0;

  &:hover {
    @media (min-width: $medium-breakpoint) {
      box-shadow: 0 6px 25px 0 rgba(0, 0, 0, 0.25);
      transform: scale(1.025);
    }
  }

  .header {
    background-color: #333;
    color: #fff;
    font-size: 1em;
    padding: 2em;
    text-align: center;
  }

  li {
    background-color: #fff;
    border-bottom: 1px solid #eee;
    padding: 2em;
    text-align: center;
  }
}*/

/*@media (max-width: $medium-breakpoint) {
  .flex-container {
    flex-direction: column;
    gap: 1em;
  }

  .flex-item {
    flex: 1 1 100%;
    margin: 0 0 1em 0 !important;
    width: 100%;

    &:last-child {
      margin-bottom: 0 !important;
    }
  }

  .package:hover {
    box-shadow: none;
    transform: none;
  }
}*/

.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em; // Consistent spacing
  justify-content: center;
  width: 100%;
  max-width: 40rem;
  margin: 0 auto;
}

.flex-item {
  flex: 0 1 calc(50% - 1em);
  min-width: 200px;
  margin: 0; // Remove all margins from flex items
}

.package {
  border: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  transition: 0.25s;
  border-radius: 0;

  &:hover {
    @media (min-width: $medium-breakpoint) {
      box-shadow: 0 6px 25px 0 rgba(0, 0, 0, 0.25);
      transform: scale(1.025);
    }
  }

  .header {
    background-color: #333;
    color: #fff;
    padding: 1.5em;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    .price {
      font-size: 1.2em;
      font-weight: bold;
    }

    .label {
      font-size: 0.8em;
      color: rgba(255, 255, 255, 0.8);
    }
  }

  li {
    background-color: #fff;
    border-bottom: 1px solid #eee;
    padding: 2em;
    text-align: center;
  }
}

// Media Queries
@media (max-width: $medium-breakpoint) {
  .flex-container {
    flex-direction: column;
    gap: 1em; // Keep the same gap as desktop
  }

  .flex-item {
    flex: 1 1 100%;
    width: 100%;
    margin: 0; // Remove all margins
  }

  .package:hover {
    box-shadow: none;
    transform: none;
  }
}




/*.wtf-plans {
  max-width: 40rem; // Matching your existing container width
  margin: 2rem auto;
  padding: 0 1rem;

  &__intro {
    h2 {
      margin: 0 0 .25rem;
      color: $gray-5; // Your existing color variable
    }
  }

  &__grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, minmax(0,1fr));
    margin-top: 1rem;

    @media (max-width: $medium-breakpoint) {
      grid-template-columns: 1fr;
    }
  }
}

.plan {
  background: #fff; // Your existing background color
  border: 1px solid $border-color; // Your existing border color
  border-radius: 0; // Matching your existing style
  padding: 1.25rem;
  position: relative;

  &--featured {
    border-color: $link-color; // Your existing accent color
  }

  &__badge {
    position: absolute;
    top: .75rem;
    left: .75rem;
    font-size: .75rem;
    padding: .25rem .5rem;

    &--popular {
      background: $link-color;
      color: #fff;
    }

    &--value {
      background: $link-color;
      color: #fff;
    }

    &--subtle {
      background: $gray-2;
      color: $gray-5;
    }
  }

  &__price {
    font-size: 2rem;
    margin: .75rem 0 .25rem;
    color: $gray-5;

    span {
      font-size: .9rem;
      font-weight: 500;
      color: $gray-3;
      margin-left: .15rem;
    }
  }

  &__bullets {
    margin: .75rem 0 1rem;
    padding-left: 1.1rem;

    li {
      margin: .25rem 0;
      color: $gray-3;
      font-size: .8em;
    }
  }

  &__cta {
    display: inline-block;
    margin: .25rem 0 .5rem;
    background: $link-color;
    color: #fff;
    text-decoration: none;
    padding: .65rem 1rem;
    font-size: .8em;

    &:hover {
      text-decoration: none;
      opacity: 0.9;
    }
  }

  &__impact {
    margin: .25rem 0 0;
    font-size: .75em;
    color: $gray-3;
  }
}

.wtf-drawer {
  margin-top: 1.25rem;
  border: 1px solid $border-color;

  &__summary {
    cursor: pointer;
    list-style: none;
    padding: .9rem 1rem;
    font-weight: 500;
    color: $gray-5;
    background: $gray-1;
  }

  &[open] &__summary {
    border-bottom: 1px solid $border-color;
  }

  &__content {
    padding: 1rem;
  }
}

.drawer-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, minmax(0,1fr));

  @media (max-width: $medium-breakpoint) {
    grid-template-columns: 1fr;
  }
}

.drawer-item {
  border: 1px solid $border-color;
  padding: 1rem;

  h4 {
    margin-top: 0;
    color: $gray-5;
    
    .muted {
      color: $gray-3;
    }
  }
}

.drawer__cta {
  display: inline-block;
  margin-top: .5rem;
  background: $gray-2;
  color: $gray-5;
  text-decoration: none;
  padding: .55rem .9rem;
  font-size: .8em;

  &:hover {
    text-decoration: none;
    opacity: 0.9;
  }
}

.drawer-links {
  a {
    color: $link-color;
    text-decoration: none;
    margin-right: .5rem;
    font-size: .8em;

    &:hover {
      text-decoration: underline;
    }
  }

  .sep {
    margin: 0 .5rem;
    color: $gray-3;
  }
}

.wtf-fineprint {
  margin: .75rem 0 0;
  font-size: .75em;
  color: $gray-3;
}

.muted {
  color: $gray-3;
}*/

