// Pagination
//
// Super lightweight (HTML-wise) blog pagination. `span`s are provide for when
// there are no more previous or next posts to show.

.wtf-pagination {
  color: #fff;
  background-color: #222;
  padding: .7em 1em;
  font-size: .75em;

  a {
    padding: 0 .2em;
    color: #71e2b8;
  }
}


.pagination {
  overflow: hidden; // clearfix
  margin: 0 -1.5rem 1rem;
  color: #ccc;
  text-align: center;
  background-color: $gray-5;
}

// Pagination items can be `span`s or `a`s
.pagination-item {
  display: block;
  padding: 1rem;
  border: solid #eee;
  border-width: 1px 0;

  &:first-child {
    margin-bottom: -1px;
  }
}

// Only provide a hover state for linked pagination items
a.pagination-item:hover {
  background-color: #f5f5f5;
}

@media (min-width: 30em) {
  .pagination {
    margin: 3rem 0;
  }

  .pagination-item {
    float: left;
    width: 50%;
    border-width: 1px;

    &:first-child {
      margin-bottom: 0;
      border-top-left-radius:    4px;
      border-bottom-left-radius: 4px;
    }
    &:last-child {
      margin-left: -1px;
      border-top-right-radius:    4px;
      border-bottom-right-radius: 4px;
    }
  }
}
