// Pagination
//
// Super lightweight (HTML-wise) blog pagination. `span`s are provide for when
// there are no more previous or next posts to show.

.wtf-pagination {
  color: #fff;
  background-color: #222;
  padding: .7em 1em;
  font-size: .75em;

  a {
    padding: 0 .2em;
    color: #71e2b8;
  }
}

