
.wtf-pagination {
  color: #fff;
  background-color: #222;
  padding: .7em 1em;
  font-size: .65em;

  a {
    padding: 0 .2em;
    color: $link-color;
  }
}

.next-prev {
    text-align: center;
    font-size: 1rem;
}


.pagination a, .pagination span {
    padding: 10px;
    display: inline-block;
  }


.pagination {
    text-align: center;
 }