
.podcast-page {
  margin-top: 0;
  
  ul {
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: none;
  }
}


.pod-header {
  display: flex;
  gap: 1.25rem;
  align-items: flex-start;
}

.pod-image {
  width: 125px;
  height: 125px;
  border-radius: 8px;
  flex-shrink: 0;
}

.pod-info {
  flex: 1;
}

.pod-show-title {
  font-size: 1.4rem;
  line-height: 1.2;
  margin: 0 0 0.4rem 0;
}

.pod-show-desc {
  font-size: 0.9rem;
  color: $gray-4;
  line-height: 1.4;
  margin: 0 0 0.75rem 0;
}

.pod-subscribe {
  font-size: 0.8rem;
  color: $gray-3;
  margin: 0;
  line-height: 1.6;
  
  strong {
    color: $gray-5;
  }
}

.pod-label {
  font-size: 0.65rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: $gray-3;
  margin: 0 0 0.75rem 0;
}

.pod-headline {
  font-size: 1.75rem;
  line-height: 1.25;
  margin: 0 0 0.35rem 0;
  
  a {
    color: $gray-5;
    text-decoration: none;
    
    &:hover {
      color: $link-color;
    }
  }
}

.pod-date {
  font-size: 0.75rem;
  color: $gray-3;
  margin: 0 0 1.25rem 0;
}

.pod-summary {
  font-size: 0.95rem;
  color: $gray-4;
  line-height: 1.6;
  margin: 0 0 1.25rem 0;
  
  strong {
    color: $gray-5;
  }
}

.pod-readmore {
  font-size: 0.8rem;
  margin: 1rem 0 0 0;
  
  a {
    color: $link-color;
    text-decoration: none;
    
    &:hover {
      text-decoration: underline;
    }
  }
  
  i {
    margin-right: 0.25rem;
  }
}

.pod-list {
  display: flex;
  flex-direction: column;
}

.pod-item {
  padding: 1.5rem 0;
  border-bottom: 1px solid #eee;
  
  &:first-child {
    padding-top: 0;
  }
  
  &:last-child {
    border-bottom: none;
  }
}

.pod-item-title {
  font-size: 1.15rem;
  font-weight: 600;
  line-height: 1.3;
  margin: 0 0 0.2rem 0;
  
  a {
    color: $gray-5;
    text-decoration: none;
    
    &:hover {
      color: $link-color;
    }
  }
}

.pod-item-date {
  font-size: 0.7rem;
  color: $gray-3;
  margin: 0 0 0.75rem 0;
}

.pod-item-summary {
  font-size: 0.8rem;
  color: $gray-3;
  line-height: 1.5;
  margin: 0;
  
  strong {
    color: $gray-4;
  }
}

.pod-item .pod {
  margin: 0.75rem 0 0 0;
}


@media (max-width: $medium-breakpoint) {
  .pod-header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .pod-image {
    width: 100px;
    height: 100px;
  }
  
  .pod-show-title {
    font-size: 1.25rem;
  }
  
  .pod-headline {
    font-size: 1.4rem;
  }
  
  .pod-item-title {
    font-size: 1.05rem;
  }
}
