---
title: WTF Just Happened Today Podcast
layout: default
image: "/public/wtf-pod.jpg"
---

<article class="page">

<div class="pod-header">
	<div class="pod-cover">
	  <img src="{{ site.url }}{{ site.baseurl }}{{ site.podcast_album_art }}" class="pod-image">
	</div>

	<div class="pod-box">
		<h1 class="pod-title">{{ site.podcast_title }} Podcast</h1>
		<p class="pod-desc">{{ site.podcast_description }}</p>
		<p class="pod-subscribe">
			<strong>Subscribe:</strong> <a href="https://itunes.apple.com/us/podcast/wtf-just-happened-today/id1206537023?mt=2">Apple Podcast</a>, <a href="https://open.spotify.com/show/5AjVGcr9p8LZFOjJKOw4b3?si=3bkunuqCT2-GltqAEhX9pA">Spotify</a>, <a href="https://playmusic.app.goo.gl/?ibi=com.google.PlayMusic&isi=691797987&ius=googleplaymusic&link=https://play.google.com/music/m/I5fj7gzxpepkfvuzymxavcvok5y?t%3DWTF_Just_Happened_Today%26pcampaignid%3DMKT-na-all-co-pr-mu-pod-16">Google Podcast</a>, <a href="{{ site.baseurl }}/podcasts/index.xml">RSS</a>
		</p>
	</div>
</div>

<h4>Latest Episode</h4>

{% assign ep = site.podcasts.last %}
{% assign post = site.posts | where: 'title', ep.post | first %}

<div>
	<h2 class="pod-lead"><a href="{{ site.baseurl }}{{ post.url }}">{{ ep.title }}</a></h2>
	<p class="pod-desc">{{ ep.date | date: "%A, %B %d, %Y" }}</p>
	<div class="pod">
       <audio src="{{ site.cloudfront_url }}{{ ep.file }}" preload="none" />
  	</div>
</div>

<hr> 
<ul>
	<h4 class="pod-lead">Recent Episodes</h4>
{% assign pod = site.podcasts | reverse %}
{% for ep in pod offset: 1 %}
{% assign post = site.posts | where: 'title', ep.post | first %}
    <li>
    	<h3 class="pod-lead"><a href="{{ site.baseurl }}{{ post.url }}">{{ ep.title }}</a></h3>
		<p class="pod-desc">{{ ep.date | date: "%A, %B %d, %Y" }}</p>
		<div class="pod">
        	<audio src="{{ site.cloudfront_url }}{{ ep.file }}" preload="none" />
      </div>
	</li>
	<hr>
{% endfor %}
</ul>

<hr>

<h2>About the Host</h2>

{% assign author = site.authors | where: "title", "Joe Amditis" | first %}
{% if author %}

<div class="pod-header">
	<div class="pod-cover">
	  <img src="{{ site.url }}{{ site.baseurl }}{{ author.image }}" class="pod-image">
	</div>

	<div class="pod-box">
		<h2 class="pod-title">{{ author.title }}</h2>
		<p class="pod-desc">{{ site.podcast_description }}</p>
		<p class="pod-subscribe">
			{% if author.email %}<i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:{{ author.email }}?Subject=Hello%20there" target="_top">{{ author.email }}</a><br>
    		{% endif %}
    	</p>
		<p class="pod-subscribe">
			<i class="fa fa-twitter" aria-hidden="true"></i> <a href="https://twitter.com/{{ author.twitter }}" target="_blank">@{{ author.twitter }}</a> 
    	</p>
	</div>
</div>
<div class="bio">{{ author.content }}</div>
 {% endif %}
</article>
