---
title: What We Learned Last Week In The Russia Probe
layout: default
image: "/uploads/russiaprobe.jpg"
metatags: index, follow
---

<h1 style="text-align: center;">What We Learned In The Russia Probe</h1>

<div class="posts">
  <article class="post">
  {% for post in site.whatwelearned reversed %}
    <h2 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
     </a>
    </h2>
    <time datetime="{{ post.last_modified | date_to_xmlschema }}" class="post-date">
       {{ post.date | date: "%m/%d/%Y" }}
    <small><em>Updated: {{ post.last_modified | date: "%m/%d/%Y %r %Z"}} 
    </em></small>
  </time>
  {% if post.lastWeekInOneSentence %}
    <p><strong>Last Week In One Sentence:</strong> {{ post.lastWeekInOneSentence }}</p>
    {% endif %}
  {% endfor %} 
  </article>
</div> 