---
layout: default
---

<!-- MailChimp -->
{% include_cached email.html %}

<article class="post">
  <h1 class="post-title">
    <a href="{{ site.baseurl }}{{ page.url }}">
      {{ page.title }}
  </h1>

  <div class="post-date">

<!--     <div>
      <small>
        <em>Updated {{ page.last_modified | date: "%-m/%-d/%Y %l:%M %p %Z" }}</em>
      </small>
    </div> -->
    <div>
      <small>
        <a href="https://github.com/mkiser/WTFJHT/commits/master/{{ page.path }}" target="_blank">See revision history</a>
      </small>
    </div>
  </div>

  <div class="post-content">
    {{ page.content | extlinks }}
  </div>
  <p>
    <small><strong>Subscribe:</strong> <a href="{{ site.baseurl }}/subscribe/" target="_blank">Get the Daily Update in your inbox for free</a> 
    </small>
  </p> 

 <!-- Pledge Drive -->
  {% include_cached pledge.html %}

  {% include_cached social.html %}

</article>