---
layout: default
metatags: noindex, follow
sitemap: false
---

<article class="page">

<div class="author-avatar">
  <img src="{{ site.baseurl }}{{ page.image }}" class="author-image">
</div>

<div class="author-box">
  <h1 class="name">{{ page.title }}</h1>
  <div class="post-date">
    <small>
    {% if page.email %}<i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:{{ page.email }}?Subject=Hello%20there" target="_top">{{ page.email }}</a><br>
    {% endif %}
    <i class="fa fa-twitter" aria-hidden="true"></i> <a href="https://twitter.com/{{ page.twitter }}" target="_blank">@{{ page.twitter }}</a> 
  </small>
  </div>
</div>

<div class="bio">{{ page.content }}</div>
<hr>
{% assign posts = site.posts | where: 'author', page.title %}
{% for post in posts %}
  <h2 class="post-title">
    <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}:
    <span class="post-small">{{ post.description }}</span></a>
  </h2>
  <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">
     {{ post.date | date: "%m/%d/%Y" }}
  </time>
  <hr>
{% endfor %}
</article>