<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <div class="container content">
       <nav class="wtf-pagination">
          <div class="menu">
            <div><a href="{{ site.baseurl }}/">Home</a> | </div>
            <div>
              {% for post in site.posts limit:1 %}
              <a href="{{ site.baseurl }}{{ post.url }}">Today</a>{% endfor %} |
            </div>
            <div>
              {% for post in site.posts limit:1 offset:1 %} <a href="{{ site.baseurl }}{{ post.url }}">Yesterday</a>{% endfor %} |
            </div>
            <div><a href="{{ site.baseurl }}/all/">All</a> | </div>
              <div><a href="{{ site.baseurl }}/first-100-days/">First 100 Days</a> | </div>
              <div><a href="{{ site.baseurl }}/guide/internet-security/">Internet Security Guide</a> | </div>
            <div><a href="{{ site.baseurl }}/membership/">Membership</a></div>
          </div>
        </nav>
      </div>

      <header class="masthead">
        <h3 class="masthead-title">
          <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
        </h3>
        <div class="wtf-tagline">
          <small>{{ site.tagline }} <br>by <a href="https://twitter.com/matt_kiser">@matt_kiser</a></small>
          <br> <span class="site-updated">Site updated <span id="siteMoment"></span>: {{ site.time | date: "%m/%d/%Y %r %Z" }}</time>
          </span>

         </div>

        <div class="wtf-search">
          <div class="outer-wrapper">
            <div class="input-wrapper">
              <i class="fa fa-search fa-css" aria-hidden="true"></i>
              <input type="text" class="algolia__input js-algolia__input" autocomplete="off" name="query" placeholder="Search WTF..." />
            </div>
          </div>
        </div>
      </header>

      <main>
        <!-- ALGOLIA -->
        <div class="wtf-search-results">
          <div class="algolia__search-content js-algolia__search-content">
            <h6>Search Results</h6>
            <div class="posts algolia__results"></div>
          </div>
        </div>

        <div class="algolia__initial-content js-algolia__initial-content">
          {{ content | extlinks }}</div>
        <!-- END ALGOLIA -->
      </main>

      {% include foot.html %}


