<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <div class="container content">
      <nav class="wtf-pagination">
        <div class="menu">
          <div><a href="{{ site.url }}{{ site.baseurl }}/">Home</a> | </div>
          <div>
            {% for post in site.posts limit:1 %} 
            <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">Today</a>{% endfor %} | 
          </div>
          <div>
            {% for post in site.posts limit:1 offset:1 %} <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">Yesterday</a>{% endfor %} | 
          </div>
          <div><a href="http://impeachment.wtf/">Impeachment.wtf</a> | </div>
          <div><a href="#" onclick="randomPost();">Random WTF</a> | </div>
          <div><a href="https://currentstatus.io/">Current Status</a> | </div>
          <div><a href="{{ site.url }}{{ site.baseurl }}/podcasts/">Podcast</a> | </div>
          <div><a href="https://talk.whatthefuckjusthappenedtoday.com/">Community</a> | </div>
          <div><a href="{{ site.url }}{{ site.baseurl }}/subscribe/">Newsletter</a> | </div>
          <div><a href="{{ site.url }}{{ site.baseurl }}/membership/">Become a Member</a></div>
        </div>
      </nav>  
      <header class="masthead">
        <h3 class="masthead-title">
          <a href="{{ site.url }}{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
        </h3>
        <div class="wtf-tagline">
          <small>{{ site.tagline }} <br>Curated by <a href="https://twitter.com/matt_kiser">@matt_kiser</a></small>
          <br> <span class="site-updated">Site updated: <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: "%-m/%-d/%Y %l:%M %p %Z" }}</time>
          </span>
     
         </div>

        <div class="wtf-search">
          <div class="outer-wrapper">
            <div class="input-wrapper">
              <i class="fa fa-search fa-css" aria-hidden="true"></i>
              <input type="text" class="algolia__input js-algolia__input" autocomplete="off" name="query" placeholder="Search WTF..." />
            </div>
          </div>
        </div>
      </header>

      <main> 
        <!-- ALGOLIA -->
        <div class="wtf-search-results">
          <div class="algolia__search-content js-algolia__search-content">
            <h6>Search Results</h6>
            <div class="posts algolia__results"></div>
          </div>
        </div>

        <div class="algolia__initial-content js-algolia__initial-content">
          {{ content | extlinks }}
        </div>
        <!-- END ALGOLIA -->
      </main>
      <footer class="footer">
        <section class="ft-main">
          <div class="ft-main-item">
            <h2 class="ft-title">About</h2>
            <ul>
              <li><a href="{{ site.url }}{{ site.baseurl }}/">Home</a></li>
              <li><a href="{{ site.url }}{{ site.baseurl }}/about/">About</a></li>
              <li><a href="{{ site.url }}{{ site.baseurl }}/membership/">Membership</a></li>
              <li><a href="{{ site.url }}{{ site.baseurl }}/faq/">FAQ</a></li>
              <li><a href="{{ site.url }}{{ site.baseurl }}/podcasts/">Podcast</a></li>
              <li><a href="https://talk.whatthefuckjusthappenedtoday.com/">Community</a></li>
              <li><a href="{{ site.url }}{{ site.baseurl }}/subscribe/">Newsletter</a></li>
              <li><a href="{{ site.url }}{{ site.baseurl }}/press/">Press</a></li>
              <li><a href="https://currentstatus.io/">Current Status</a></li>
            </ul>
          </div>
          <div class="ft-main-item">
            <h2 class="ft-title">Timelines</h2>
            <ul>
              <li><a href="https://talk.whatthefuckjusthappenedtoday.com/t/impeachment-investigation-into-trump-2019/4547">Trump Impeachment Investigation</a></li>
              <li><a href="https://talk.whatthefuckjusthappenedtoday.com/t/house-judiciary-committee-investigations-into-trump-2019/4990">House Judiciary Committee</a></li>
              <li><a href="https://talk.whatthefuckjusthappenedtoday.com/t/house-oversight-and-reform-committee-investigations-into-trump-2019/4991">House Oversight and Reform Committee</a></li>
              <li><a href="https://talk.whatthefuckjusthappenedtoday.com/t/house-intelligence-committee-investigations-into-trump-2019/4992">House Intelligence Committee</a></li>
              <li><a href="{{ site.url }}{{ site.baseurl }}/trump-russia-investigation/">Russia Investigation</a></li>
              <li><a href="https://talk.whatthefuckjusthappenedtoday.com/t/house-ways-and-means-committee-investigations-into-trump-2019/4993">House Ways and Means Committee</a></li>
              <li><a href="https://talk.whatthefuckjusthappenedtoday.com/t/house-foreign-affairs-committee-investigations-into-trump-2019/4994">Foreign Affairs Committee</a></li>
              <li><a href="https://talk.whatthefuckjusthappenedtoday.com/t/house-financial-services-committee-investigations-into-trump-2019/4995">Financial Services Committee</a></li>  
            </ul>
          </div>
          <div class="ft-main-item">
            <h2 class="ft-title">Resources</h2>
            <ul>
              <li><a href="https://www.amazon.com/shop/matt_kiser?listId=MX8CHE4TE8JY">Recommended Books</a></li>
              <li><a href="{{ site.url }}{{ site.baseurl }}/guide/internet-security/">Internet Security Guide</a></li>
              <li><a href="https://talk.whatthefuckjusthappenedtoday.com/t/portrait-of-a-president/1465">Portrait of a President</a></li>
              <li><a href="https://talk.whatthefuckjusthappenedtoday.com/c/what-we-learned-in-the-trump-russia-investigation">What We Learned Series</a></li>
              <li><a href="{{ site.url }}{{ site.baseurl }}/trump-health-care/">Health Care</a></li>
              <li><a href="{{ site.url }}{{ site.baseurl }}/trump-epa/">The EPA</a></li>
              <li><a href="{{ site.url }}{{ site.baseurl }}/trump-fake-news/">Fake News</a></li>
              <li><a href="{{ site.url }}{{ site.baseurl }}/trump-travel-ban/">Travel Ban</a></li>
            </ul>
          </div>
          <div class="ft-main-item">
            <h2 class="ft-title">Archives</h2>
            <ul>
              <li><a href="{{ site.url }}{{ site.baseurl }}/first-100-days/">The First 100 Days</a></li>
              <li><a href="{{ site.url }}{{ site.baseurl }}/all/">All Posts</a></li>
              <li><a href="{{ site.url }}{{ site.baseurl }}/archive/">Complete Archive</a></li>
            </ul>
          </div>
          </section>
          <!-- Footer social -->
          <section class="ft-social">
          <ul class="ft-social-list">
            <li><a href="https://twitter.com/wtfjht"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://www.facebook.com/wtfjht"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.instagram.com/wtfjht/"><i class="fa fa-instagram"></i></a></li>
            <li><a href="https://github.com/mkiser/WTFJHT"><i class="fa fa-github"></i></a></li>
            <li><a href="https://whatthefuckjusthappenedtoday.com/rss.xml"><i class="fa fa-rss"></i></a></li>
          </ul>
          </section>
          <!-- Footer legal -->
          <section class="ft-legal">
          <ul class="ft-legal-list">
            <li><a href="{{ site.url }}{{ site.baseurl }}/license/">License</a><br><span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type">What The Fuck Just Happened Today site content by <a xmlns:cc="http://creativecommons.org/ns#" href="https://whatthefuckjusthappenedtoday.com/about/" property="cc:attributionName" rel="cc:attributionURL">WTF Just Happened? LLC</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
              </span>
          </li>
          </ul>
          </section>

      </footer>
      {% include_cached algolia.html %}
      {% include js.html %}
</body>
<!--  
         _    _ ___________ ___ _   _ _____ 
   ____ | |  | |_   _|  ___|_  | | | |_   _|
  / __ \| |  | | | | | |_    | | |_| | | |  
 / / _` | |/\| | | | |  _|   | |  _  | | |  
| | (_| \  /\  / | | | | /\__/ / | | | | |  
 \ \__,_|\/  \/  \_/ \_| \____/\_| |_/ \_/  
  \____/                                    
                                            
-->
</html>
