<!DOCTYPE html>
<html lang="en">
  <head>
    <!--
     __    __ _           _     _____ _              ___           _     
    / / /\ \ \ |__   __ _| |_  /__   \ |__   ___    / __\   _  ___| | __ 
    \ \/  \/ / '_ \ / _` | __|   / /\/ '_ \ / _ \  / _\| | | |/ __| |/ / 
     \  /\  /| | | | (_| | |_   / /  | | | |  __/ / /  | |_| | (__|   <  
      \/  \/ |_| |_|\__,_|\__|  \/   |_| |_|\___| \/    \__,_|\___|_|\_\ 
                                                                         
       __            _                                                 _ 
       \ \ _   _ ___| |_    /\  /\__ _ _ __  _ __   ___ _ __   ___  __| |
        \ \ | | / __| __|  / /_/ / _` | '_ \| '_ \ / _ \ '_ \ / _ \/ _` |
     /\_/ / |_| \__ \ |_  / __  / (_| | |_) | |_) |  __/ | | |  __/ (_| |
     \___/ \__,_|___/\__| \/ /_/ \__,_| .__/| .__/ \___|_| |_|\___|\__,_|
                                      |_|   |_|                          
     _____          _             ___                                    
    /__   \___   __| | __ _ _   _/ _ \                                   
      / /\/ _ \ / _` |/ _` | | | \// /                                   
     / / | (_) | (_| | (_| | |_| | \/                                    
     \/   \___/ \__,_|\__,_|\__, | ()                                    
                            |___/                                        
    -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/styles.css" type="text/css">
    <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/public/css/algolia.css" type="text/css">
    <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/public/css/font-awesome/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" type="text/css">
    <style type="text/css">
    #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
    </style>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald|Poppins" type="text/css">
    <link href="{{ site.url }}{{ site.baseurl }}/public/css/quiz/slickQuiz.css" media="screen" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/public/css/rrssb.css" />
    <link rel="shortcut icon" href="{{ site.url }}{{ site.baseurl }}/public/favicon.ico" type="image/x-icon">
    <link rel="icon" href="{{ site.url }}{{ site.baseurl }}/public/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/public/apple-touch-icon-precomposed.png">
    <link rel="alternate" type="application/atom+xml" title="Atom - {{ site.title }}" href="{{ site.url }}{{ site.baseurl }}/atom.xml">
    <link rel='alternate' type='application/rss+xml' title='RSS - {{ site.title }}' href="{{ site.url }}{{ site.baseurl }}/rss.xml">
    {% if page.type == 'year' %}
      {% seo title=false %}
      <title>{{ page.date | date: "%Y" }} Archive | {{ site.title}}</title>
    {% elsif page.type == 'month' %}
      {% seo title=false %}
      <title>{{ page.date | date: "%B %Y" }} Archive | {{ site.title}}</title>
    {% elsif page.layout == 'post' %}
      {% seo title=false %}
      <title>{{ page.title }}: {{ page.description }} | {{ site.title}}</title>
      {% if page.todayInOneSentence and page.todayInOneSentence != '' %}
      <meta name="description" content="{{ page.todayInOneSentence | truncate: 160 }}" />
      {% endif %}

    {% else %}
      {% seo %} 
    {% endif %}
    {% if page.path contains '_posts' %}
      {% if page.last_modified %}
      {% assign modified = page.last_modified %}
      {% else %}
      {% assign modified = page.date %}
      {% endif %}
    <meta content="{{ modified | date_to_xmlschema }}" itemprop="dateModified" />
    {% endif %}
    <meta property="fb:pages" content="1415262761838827" />
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-P3G02CXQXW"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-P3G02CXQXW');
    </script>
    
    <script type="text/javascript">
      (function(c) {
        var script = document.createElement("script");
        script.src = "https://js.memberful.com/embed.js";
        script.onload = function() { Memberful.setup(c) };
        document.head.appendChild(script);
      })({
        site: ["https://wtfjht.memberful.com"]
      });
    </script>

  </head>
  <body>
    <div class="container content">
      <nav class="wtf-pagination">
        <div class="menu">
          <div><a href="{{ site.url }}{{ site.baseurl }}/">Home</a> | </div>
          {% include_cached todayYesterday.html %}
          <div><a href="#" onclick="randomPost();">Random WTF</a> | </div>
          <!-- <div><a href="https://currentstatus.io/">Current Status</a> | </div> -->
          <div><a href="{{ site.url }}{{ site.baseurl }}/podcasts/">Podcast</a> | </div>
          <!-- <div><a href="https://www.youtube.com/@WTFJHT">YouTube</a> | </div> -->
          <div><a href="https://cottonbureau.com/people/wtf-just-happened-today">T-Shirts</a> | </div>
          <div><a href="{{ site.url }}{{ site.baseurl }}/subscribe/">Newsletter</a> | </div>
          <div><a href="{{ site.url }}{{ site.baseurl }}/membership/">Become a Member</a></div>
        </div>
      </nav>  
      <header class="masthead">
        <h3 class="masthead-title">
          <a href="{{ site.url }}{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
        </h3>
        <div class="wtf-tagline">
          <small>{{ site.tagline }} <br>Curated by <a href="https://twitter.com/matt_kiser">@matt_kiser</a></small>
          <br> <span class="site-updated">Site updated: <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: "%-m/%-d/%Y %l:%M %p %Z" }}</time></span>
         </div>

        <div class="wtf-search">
          <div class="outer-wrapper">
            <div class="input-wrapper">
              <i class="fa fa-search fa-css" aria-hidden="true"></i>
              <input type="text" class="algolia__input js-algolia__input" autocomplete="off" name="query" placeholder="Search WTF..." />
            </div>
          </div>
        </div>
      </header>

      <main> 
        <!-- ALGOLIA -->
        <div class="wtf-search-results">
          <div class="algolia__search-content js-algolia__search-content">
            <h6>Search Results</h6>
            <div class="posts algolia__results"></div>
          </div>
        </div>

        <div class="algolia__initial-content js-algolia__initial-content">
          {{ content | extlinks }}
        </div>
        <!-- END ALGOLIA -->
      </main>
      <footer class="footer">
        <section class="ft-main">
          <div class="ft-main-item">
            <h2 class="ft-title">About</h2>
            <ul>
              <li><a href="{{ site.url }}{{ site.baseurl }}/">Home</a></li>
              <li><a href="{{ site.url }}{{ site.baseurl }}/about/">About</a></li>
              <li><a href="{{ site.url }}{{ site.baseurl }}/faq/">FAQ</a></li>
              <li><a href="{{ site.url }}{{ site.baseurl }}/membership/">Membership</a></li>
              <li><a href="https://wtfjht.memberful.com/auth/sign_in">Member Sign-in</a></li>li>
              <li><a href="{{ site.url }}{{ site.baseurl }}/subscribe/">Newsletter</a></li>
            </ul>
          </div>
         
          <div class="ft-main-item">
            <h2 class="ft-title">Archives</h2>
            <ul>
              <li><a href="{{ site.url }}{{ site.baseurl }}/archive/2017/">Season 1: 2017</a></li>
              <li><a href="{{ site.url }}{{ site.baseurl }}/archive/2018/">Season 2: 2018</a></li>
              <li><a href="{{ site.url }}{{ site.baseurl }}/archive/2019/">Season 3: 2019</a></li>
              <li><a href="{{ site.url }}{{ site.baseurl }}/archive/2020/">Season 4: 2020</a></li>
              <li><a href="{{ site.url }}{{ site.baseurl }}/archive/2021/">Season 5: 2021</a></li>
              <li><a href="{{ site.url }}{{ site.baseurl }}/archive/2022/">Season 6: 2022</a></li>
              <li><a href="{{ site.url }}{{ site.baseurl }}/archive/2023/">Season 7: 2023</a></li>
              <li><a href="{{ site.url }}{{ site.baseurl }}/archive/2024/">Season 8: 2024</a></li>
              <li>Season 9: 2025 (coming soon)</li>
              <li><a href="{{ site.url }}{{ site.baseurl }}/archive/">Complete Archive</a></li>
            </ul>
          </div>
          
          <div class="ft-main-item">
            <h2 class="ft-title">Resources</h2>
            <ul>
              <li><a href="https://cottonbureau.com/people/wtf-just-happened-today">T-Shirts & Hats</a></li>
              <li><a href="https://currentstatus.io/">Current Status News Aggregator</a></li>
              <li><a href="https://www.amazon.com/shop/matt_kiser?listId=MX8CHE4TE8JY">Recommended Books</a></li>
              <li><a href="{{ site.url }}{{ site.baseurl }}/first-100-days/">Trump's First 100 Days</a></li>
              <li>Biden's First 100 Days (coming soon)</li>
              <li>Trump's Second First 100 Days (coming soon)</li>
              
            </ul>
          </div>
          
          <div class="ft-main-item">
            <h2 class="ft-title">Connect</h2>
            <ul>
              <li><a href="https://www.facebook.com/wtfjht">Facebook</a></li>
              <li><a href="https://bsky.app/profile/wtfjht.bsky.social">Bluesky</a></li>
              <li><a href="https://www.instagram.com/wtfjht/">Instagram</a></li>
              <li><a href="https://mastodon.social/@wtfjht">Mastodon</a></li>
              <li><a href="https://twitter.com/wtfjht">Twitter</a></li>
              <li><a href="https://www.threads.net/@wtfjht">Threads</a></li>
              <li><a href="{{ site.url }}{{ site.baseurl }}/podcasts/">Podcast</a></li>
              <li><a href="https://www.youtube.com/@WTFJHT/">YouTube</a></li>
              <li><a href="https://whatthefuckjusthappenedtoday.com/rss.xml">RSS</a></li>
              <li><a href="https://github.com/mkiser/WTFJHT">GitHub</a></li>
            </ul>
          </div>
          </section>
          <!-- Footer social -->
          <!-- 
          <section class="ft-social">
            <ul class="ft-social-list">
              <li><a href="https://www.facebook.com/wtfjht"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://twitter.com/wtfjht"><i class="fa fa-twitter"></i></a></li>
              <li><a href="https://www.instagram.com/wtfjht/"><i class="fa fa-instagram"></i></a></li>
              <li><a href="https://github.com/mkiser/WTFJHT"><i class="fa fa-github"></i></a></li>
              <li><a href="https://whatthefuckjusthappenedtoday.com/rss.xml"><i class="fa fa-rss"></i></a></li>
            </ul>
          </section>
          -->
          <!-- Footer legal -->
          <section class="ft-legal">
          <ul class="ft-legal-list">
            <li><a href="{{ site.url }}{{ site.baseurl }}/license/">License</a><br><span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type">What The Fuck Just Happened Today site content by <a xmlns:cc="http://creativecommons.org/ns#" href="https://whatthefuckjusthappenedtoday.com/about/" property="cc:attributionName" rel="cc:attributionURL">WTF Just Happened? LLC</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
              </span>
          </li>
          </ul>
          </section>

      </footer>
      <!-- ALGOLIA -->
      <script>
        window.ALGOLIA_CONFIG = {
          'applicationId': '{{ site.algolia.application_id }}',
          'indexName': '{{ site.algolia.index_name }}',
          'apiKey': '{{ site.algolia.read_only_api_key }}',
          'baseurl': '{{ site.baseurl }}'
        }
      </script>
      <script id="algolia__template" type="text/template">
      {% raw %}
        <div class="algolia__result">
          <h1 class="post-title"><a href="{{ full_url }}">{{{ title }}}: {{{ description }}}</a></h1>
          {{#posted_at}}
          <div class="algolia__result-date">{{ posted_at_readable }}</div>
          {{/posted_at}}
          <div class="algolia__result-text">{{{ _highlightResult.content.value }}}</div>
        </div>
      {% endraw %}
      </script>
      <script id="algolia__template--no-results" type="text/template">
        Fake news not found.
      </script>
      <script src="{{ site.url }}{{ site.baseurl }}/public/js/anchor.min.js"></script>
      <script src="{{ site.url }}{{ site.baseurl }}/public/js/jquery.min.js"></script>
      <script src="{{ site.url }}{{ site.baseurl }}/public/js/algoliasearch.min.js"></script>
      <script src="{{ site.url }}{{ site.baseurl }}/public/js/algoliasearch.helper.min.js"></script>
      <script src="{{ site.url }}{{ site.baseurl }}/public/js/hogan.min.js"></script>
      <script src="{{ site.url }}{{ site.baseurl }}/public/js/moment.min.js"></script>
      <script src="{{ site.url }}{{ site.baseurl }}/public/js/algolia.js"></script>
      <script src="{{ site.url }}{{ site.baseurl }}/public/js/randomPost.js"></script>
      <script src="{{ site.url }}{{ site.baseurl }}/public/js/rrssb.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.0/jquery.cookie.min.js"></script>
      <script src="{{ site.url }}{{ site.baseurl }}/public/js/oneFuck.js"></script>

     <!--  
      <script>
         if($.cookie('membershipdrive') == 'true'){
           $('#pledgedrive').hide();
         };
         $("#close").click(function(){
           document.cookie = "membershipdrive=true; max-age=129600";
         });
      </script>
      -->

      <!-- AUDIO PLAYER -->
     <script src="{{ site.url }}{{ site.baseurl }}/public/js/audiojs/audio.min.js"></script>
      <script>
        audiojs.events.ready(function() {
          var as = audiojs.createAll();
        });
      </script>
      {% if page.layout == 'post' %} 
        <!-- ANCHORS -->
        <script>
          document.addEventListener("DOMContentLoaded", function(event) {
            anchors.options = {
              placement: 'left',
              visible: 'hover',
              truncate: "36"
            };
            anchors.add('.post-content > p, .post > p, .post li, .post blockquote p, h3');
            anchors.remove('.post ol li, ul.rrssb-buttons li, div.post.archive p.archive-year, div.post.archive ul.archive-months li, .tios, .masthead-title, li.header');
          });
        </script>
      {% endif %}
      <!-- TODAY LAST YEAR -->
      <script>
      (function(){
        $.getJSON("/api/v1/random.json", function(data) {
          if (document.location.href == "{{ site.url }}{{ site.baseurl }}/"){
            var url = data[0].href;
          } else {
            var url = document.location.href;
          }
          for (i = 0; i < data.length; i++) { 
            if (data[i].href == url){    
              var lastYear = new Date(data[i].date.date);
              var todayLastYear = lastYear.getFullYear() - 1;
              lastYear.setFullYear(todayLastYear);
              lastYear = lastYear.toISOString().slice(0,10);              
              var twoYears = new Date(data[i].date.date);
              var twoYearsAgo = twoYears.getFullYear() - 2;
              twoYears.setFullYear(twoYearsAgo);
              twoYears = twoYears.toISOString().slice(0,10);
              var threeYears = new Date(data[i].date.date);
              var threeYearsAgo = threeYears.getFullYear() - 3;
              threeYears.setFullYear(threeYearsAgo);
              threeYears = threeYears.toISOString().slice(0,10);
              var fourYears = new Date(data[i].date.date);
              var fourYearsAgo = fourYears.getFullYear() - 4;
              fourYears.setFullYear(fourYearsAgo);
              fourYears = fourYears.toISOString().slice(0,10);
              var fiveYears = new Date(data[i].date.date);
              var fiveYearsAgo = fiveYears.getFullYear() - 5;
              fiveYears.setFullYear(fiveYearsAgo);
              fiveYears = fiveYears.toISOString().slice(0,10);
              var sixYears = new Date(data[i].date.date);
              var sixYearsAgo = sixYears.getFullYear() - 6;
              sixYears.setFullYear(sixYearsAgo);
              sixYears = sixYears.toISOString().slice(0,10);
              for (j = 0; j < data.length; j++) { 
                if (data[j].date.date == lastYear) {
                  document.getElementById('todaylastyear').innerHTML = "<strong>Last year today</strong>: <a href="+data[j].href+">"+data[j].title+": "+data[j].desc+"</a>";
                }
              if (data[j].date.date == twoYears) {
                  document.getElementById('todaytwoyearsago').innerHTML = "<strong>Two years ago today</strong>: <a href="+data[j].href+">"+data[j].title+": "+data[j].desc+"</a>";
                }
              if (data[j].date.date == threeYears) {
                  document.getElementById('todaythreeyearsago').innerHTML = "<strong>Three years ago today</strong>: <a href="+data[j].href+">"+data[j].title+": "+data[j].desc+"</a>";
                }
              if (data[j].date.date == fourYears) {
                  document.getElementById('todayfouryearsago').innerHTML = "<strong>Four years ago today</strong>: <a href="+data[j].href+">"+data[j].title+": "+data[j].desc+"</a>";
                }
              if (data[j].date.date == fiveYears) {
                  document.getElementById('todayfiveyearsago').innerHTML = "<strong>Five years ago today</strong>: <a href="+data[j].href+">"+data[j].title+": "+data[j].desc+"</a>";
                }
              if (data[j].date.date == sixYears) {
                  document.getElementById('todaysixyearsago').innerHTML = "<strong>Six years ago today</strong>: <a href="+data[j].href+">"+data[j].title+": "+data[j].desc+"</a>";
                }
              }     
            }
          }
        });
      })();
      </script>
    </div>      
  </body>
<!--  
         _    _ ___________ ___ _   _ _____ 
   ____ | |  | |_   _|  ___|_  | | | |_   _|
  / __ \| |  | | | | | |_    | | |_| | | |  
 / / _` | |/\| | | | |  _|   | |  _  | | |  
| | (_| \  /\  / | | | | /\__/ / | | | | |  
 \ \__,_|\/  \/  \_/ \_| \____/\_| |_/ \_/  
  \____/                                                                       
-->
</html>
