---
layout: default
metatags: noindex, follow
sitemap: false
---

{% assign post = site.posts | where: 'title', page.post | first %}
{% assign content = post.content %}
<!-- MailChimp -->
{% include_cached email.html %}
<article class="post">
  <h1 class="post-title">
    <a href="{{ site.baseurl }}{{ post.url }}">
      {{ post.title }}:
    <span class="post-small">{{ post.description }}</span></a>
  </h1>

  {% assign author = site.authors | where: 'title', post.author | first %}
  {% if author %}
    <div class="byline">By <a href="{{ author.url }}">{{ author.title }}</a></div>
  {% endif %}

  <div class="post-date">
    <time datetime="{% if post.last_modified %}{{ post.last_modified | date_to_xmlschema }}{% endif %}">
      {{ post.date | date: "%-m/%-d/%Y" }} {% include read_time.html %} 
    </time>
    <div>
      <small>
        <em>Updated {{ post.last_modified | date: "%-m/%-d/%Y %l:%M %p %Z" }}</em>
      </small>
    </div>
    <div>
      <small>
        <i class="fa fa-pencil" aria-hidden="true"></i> <a href="https://github.com/mkiser/WTFJHT/edit/master/{{ post.path }}" target="_blank">Help improve this article</a> |  <a href="https://github.com/mkiser/WTFJHT/commits/master/{{ post.path }}" target="_blank">See revision history</a>
      </small>
    </div>
  </div>


{% assign ep = site.podcasts | where: 'post', post.title | first %}
{% if ep %}
  {% include pod.html %}

  <small class="post-date pod-subscribe" style="margin-top: -2em; color: #9a9a9a;">
    Subscribe for free: <a href="https://itunes.apple.com/us/podcast/wtf-just-happened-today/id1206537023?mt=2">Apple Podcast</a>, <a href="https://playmusic.app.goo.gl/?ibi=com.google.PlayMusic&amp;isi=691797987&amp;ius=googleplaymusic&amp;link=https://play.google.com/music/m/I5fj7gzxpepkfvuzymxavcvok5y?t%3DWTF_Just_Happened_Today%26pcampaignid%3DMKT-na-all-co-pr-mu-pod-16">Google Play Music</a>, <a href="https://www.stitcher.com/s?fid=132466&refid=stpr">Stitcher</a>, <a href="{{ site.baseurl }}/podcasts/index.xml">RSS</a>
  </small>

{% endif %}

 <div class="post-content">
    {{ post.content | extlinks }}
  </div>
  <p>
    <small><strong>Subscribe:</strong> <a href="{{ site.baseurl }}/subscribe/">Get the Daily Update in your inbox for free</a> 
    </small>
  </p> 

 
 <!-- Pledge Drive -->
  {% include_cached pledge.html %}

  {% include social.html %}

</article>