---
layout: default
---

<div class="tag-archive">
  <h1 class="tag-archive__heading">{{ page.tag_display }}</h1>
  <p class="tag-archive__count">{{ page.posts_count }} post{% if page.posts_count != 1 %}s{% endif %}</p>

  <ul class="tag-archive__list">
    {% for post in page.tag_posts %}
    <li class="tag-archive__post">
      <a href="{{ post.url }}" class="tag-archive__link">
        <span class="tag-archive__title">{{ post.title }}: {{ post.description }}</span>
        <span class="tag-archive__date">{{ post.date }}</span>
      </a>
    </li>
    {% endfor %}
  </ul>
</div>

{% include browse-nav.html %}
