---
layout: default
---

<div style="margin: 20px auto 0 auto; max-width: 40rem; padding: 1rem;"> 
{% include_cached emailpromo.html %}
{% include_cached email.html %}
</div>
<article class="post">
 <h1 class="post-title">
  <a href="{{ site.baseurl }}{{ page.url }}">
    {{ page.title }}</a>
  </h1>

  {% assign author = site.authors | where: 'title', page.author | first %}
  {% if author and author.title == "Matt Kiser" %}
  <div class="byline">By <a href="{{ author.url }}">{{ author.title }}</a>, Founder of WTF Just Happened Today?</div>
  {% elsif author %}
  <div class="byline">By <a href="{{ author.url }}">{{ author.title }}</a></div>
  {% endif %}
  <div class="post-date">
    <time datetime="{{ page.date | date_to_xmlschema }}">
      {{ page.date | date: "%-m/%-d/%Y" }} {% include read_time.html %} 
    </time>
    <div>
      <small>
        <i class="fa fa-pencil" aria-hidden="true"></i> <a href="https://github.com/mkiser/WTFJHT/blob/master/{{ page.path }}" target="_blank">Improve this article</a> &nbsp; <i class="fa fa-history" aria-hidden="true"></i> <a href="https://github.com/mkiser/WTFJHT/commits/master/{{ page.path }}" target="_blank">Revision history</a> 
      </small>
    </div>
  </div> 

  <div class="post-content">
   
    {{ content | extlinks }}
 


{% if page.tags %}
  <div>
    <h3>Related Articles</h3>
    <ol>
      {% for post in site.posts %}
        {% for tag in page.tags %}
          {% if post.tags contains tag %}
            {% assign excerpt = post.tag_excerpts[tag] %}
            <li>
              <strong><a href="{{ site.baseurl }}{{ post.url }}">{{ post.date | date: "%-m/%-d/%Y" }} - {{ post.description }}</a></strong>
              {% if excerpt %}
                <div>{{ excerpt }}</div>
              {% endif %}
            </li>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </ol>
  </div>
{% endif %}


  </div>
<hr>
<div style="margin: 20px auto 0 auto; max-width: 40rem; padding: 1rem;"> 
{% include_cached emailpromo.html %}
{% include_cached email.html %}
</div>

  {% include_cached pledge.html %}

</article>
