---
title: Archives By Year
layout: default
image: "/uploads/og-image.jpg"
---

<div class="archive-page">
  <h1 class="archive-page__heading">{{ page.date | date: "%Y" }}</h1>
  <p class="archive-page__count">{{ page.posts.size }} post{% if page.posts.size != 1 %}s{% endif %}</p>

  <ul class="archive-page__list">
  {% for post in page.posts reversed %}
    <li class="archive-page__item">
      <a href="{{ site.baseurl }}{{ post.url }}" class="archive-page__link">
        <span class="archive-page__title">{{ post.title }}: <span class="archive-page__description">{{ post.description }}</span></span>
        <span class="archive-page__date">{{ post.date | date: "%b %-d, %Y" }}</span>
      </a>
    </li>
  {% endfor %}
  </ul>
</div>

{% include browse-nav.html %}
